<a href="https://colab.research.google.com/github/RyukThe/BBD-python-selenium-notebook/blob/master/Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#What is python?
It's is high level(language which can understand by the human ) general purpose(data analysis, apps, games, websites) programming language.
* It is case sensetive language.
* It is open source
* Platform independent language.
* simpler than other programming language.

#History of python
* python implimentation started in dec 1989 by Guido Van Rossum. At CWI (Centrum Wiskunde and Informatica)
* in 1989 Monty Python Flying Circus is programe which show by BBC TV show on this show Guido Van Rossum give name ptyhon to this programming language(based on short, unique, mysterious).
* Python is combination of multiple programming language. Like from C it took functional programming. From C++ it takes OOP principle. From perl and shell it take scripting language feature. And from modula 3 it took Modular programming.
core python:
1. data type, control structures, functions, modules
Advanced ptyhon
1. Decorators, generators, oops, multi threading, frameworks (dango, flask)

![image.png]()

How to verify the python version?
using CMD type python --version -> it show the version or just type python it which show version create python terminal.
##Ways to run the code:
1. IDLE (integrated Development Learning Envoirntment or python shell)

Introduction to python
What exactly is programming?
Solving problem through code and turning idea into actionable instructions.

In [ ]:
print("Hello World!!")

Hello World!!

**Understanding the syntax of python**
##print() statement
* The print() function is used to display output.
print is function is python to print argument on console we have to pass the argument in parenthesis (). so it will appear on the consle.
* In a print statement if we use , to give multiple string argument it automatically add space.
i.e. print('hello','str')

* **By default print() function create the new line after printing something on console**
* we can change this default behavior of print statement for multiple string arguments in single print statment space to comma by using sep argument\parameter i.e. sep=","

print("str1", "str2", sep=",")

* similary, we can change the behavior of print() function after printing somthing on consle it move cursor to new line. Because by defautl it have end value is \n. we change this behavior using end parameter\argument like
print("hello", end='')

* shortcut to open terminal in VS code is ctrl + ~
to run the python file we have to use python filename.py

In [ ]:
print("Hey I am Tom")
print('Hellow world',"Tom","Shelby")
print("I am good")
print("How are you?")

# sep argument
print("I am good", "How are you?", sep=",")
'''by default value of sep parameter is space'''
# now it's add commam instade of
#space i.e. default to comma we can pass any seprator like / or any
# end argument
print("hello", end='')
'''by default value of end parameter is \n'''
# it won't move cursor to newline
print("world")

Hey I am Tom
Hellow world Tom Shelby
I am good
How are you?
I am good,How are you?
helloworld

###How python read the file?
Python read the file top to bottom line by line and scan for any erro if it found it will show the line where error is occur execute the code.
When syntax error occur then it won't execute any code it directly throw line number where syntax error is occour. show the error name. i.e. syntax error.


In python, indentation is very important because it way to know that programmer is in the block of code or not. So in python : represent the starting point of block and indentation show the point it is part of block.

# **Comment in Python**
* Comment are used to explain code and ignore by the python interpreter.
comment is way for programmers which instruct the Python interpreter that hey, ignore this line.
* single line comment with #
* Multiline comment are enclosed in ''' or """

In [ ]:
#Single line comment
"""Multiline comment"""
'''Multiline comment'''

#**Variable and Datatype in Python**
Variable is nothing but are container where data is store in memory location. So, by using the variable we can manipulate the data in program multiple time. Variable used fro information reusebility.
variable is created when we assgin the value to that variable. then this value is store in memory location.

variable_name=value_of_variable
One variable can store one information at a time.
in Variable we can store the integere, string, float types of values.

In [ ]:
age=13 #integer
name ="Tom" #string
cgpa= 4.55 #float

In python there are some rule which type of character variable can contain.
**Python is dynamically typed language** which means we don't have to specify which data type a perticular variable contains.
Python automatically looks at the value and figures out that type of value. like string, float or int.

### **Rules of defining a variable in python / naming a variable**
1. Variable name must start with a letter (a-z, A-Z) or an underscore(_)
2. They can contain letters, numbers, and underscores.
3. Variable names are case-sensitive (age and Age are different).
4. Avoid using python keywords.(e.g. if, for, while) as variable names.

23age=2 #this is invalid because variable cannont start with a number.

age=32 # is valid variable.
age$e=45# is invalid variable because variable can not contain the special symbol other than the _ (underscore).

In [ ]:
_age=45 #valid variable
__age__=45#valid variable
a_b_c=45#Valid variable

python supports several built-in data types:
**Inbuild Datatypes in python**
1. integers (int): whole numbers (e.g. 10,-5)
2. Floats (float): Decimal numbers (e.g. 3.14, -9.34)
3. Strings (str): Text data enclosed in quotes. (e.g. 'hello', "Hello")
4. Booleans (bool): Represents True or False.
5. Lists: Order mutable collections (e.g. [1,2,'str',0.43])
6. Tuples: Order immutable collections. (e.g. (1,34,"str",034.34)
7. Sets: Unorder collections of unique element (e.g. {1,2,3})
8. Dictionaries: key-value pairs (e.g. {{"key":"value", "name"="Alice", "age"=34}).

**type()** by using type function we can get to know what is type of variable is.

In [ ]:
age=18
print(f"age = {age} & type of age = ({type(age)})")
name="Tom"
print(f"name = {name} & type of name = {type(name)}")
cgpa=4.55
print(f"cgpa = {cgpa} & type of cgpa = {type(cgpa)}")
is_completed=True
print(f"is_completed = {is_completed} & type of is_completed = {type(is_completed)}")

age = 18 & type of age = (<class 'int'>)
name = Tom & type of name = <class 'str'>
cgpa = 4.55 & type of cgpa = <class 'float'>
is_completed = True & type of is_completed = <class 'bool'>

**Type Casting**
Typecasting is the process of converting one data type to another.
* python provides built-in functions for type casting.
1. int(): converts to integer.
2. float(): Converts to float.
3. str(): converts to string.
5. bool(): converts to bool.
Changing one data type information to another.
Some time we have to convert the string to integer. Like if we condition like if age>18 but if we got age in str like "18" the we have to convert it to int first.

In [ ]:
a=34
b="34"
d=457
print(a)
print(type(a))
print(b)
print(type(b))
c=int(b) #this will convert the str b to the integer and store in c. Here we dont
#change the type of be directly we change type of its and store in another vairalbe.
print(type(c))
e=str(d) #e is the string version of integer d.
print(type(e))

34
<class 'int'>
34
<class 'str'>
<class 'int'>
<class 'str'>

**Taking User Inputs**
* To take input from user we have to use built-in fuction called input() .
* this input() function take user input from the keyboard
* by Default, input() returns a string. You can convert it to other data types as needed.
*note: when we use this input() it will take input in form of string by default.  
*Note: while using input function we have to pass promt messege it's optional parameter but we must have to use it. So, user can get idea which data have to pass.

In [ ]:
a = input("Enter a Number") # this will show message(prompt) on console and take input from user
#store it in variable a.
print(a)
print(type(a))

Enter a Number57
57
<class 'str'>

In [ ]:
# #addition of two number
# a = input("Enter first Number")
# a=int(a) #convert a to int version of a
# print(a+3)

a=int(input("Enter first Number : "))
b=int(input("Enter second Number : "))
print(a+b)

Enter first Number : 5
Enter second Number : 10
15

# **Escape Sequences (start with (back slash)\\)**
* Escape sequences are used to include special characters in strings.
* common escape sequences.
* '\n' : Newline
* '\t' : tab
* '\ \' : Backslash
* '\"' : Double quote
* '\'' : Single quote

In [ ]:
print("1. Hey, How are you? \n I am good \\newline")
print("2. Hello, \"world\"")
print('3. hey it\'s me')

1. Hey, How are you?
 I am good \newline
2. Hello, "world"
3. hey it's me

# **Operators**
### **1. Arithmatic operators**
* Arithmatic operators are  used to perform arithmatic opeartion likes.
*  +(Addition), -(Subtraction), *(Multiplication), / (Division), % (Modulus), **(Expoenetiation), //(Floor Divison)
* % (modulus) operator give an reminder after division
* // (floor) this will perform floor divison opeation,  it retrun number without decimal point if number having.

In [ ]:
a = 34
b = 2
print('a + b = ', a + b)
print('a - b =', a - b)
print('a * b =', a * b)
print('a / b =', a / b)
print('a % b =', a % b)
print('a ** b =', a ** b)
print('a // b =', a // b)

a + b =  36
a - b = 32
a * b = 68
a / b = 17.0
a % b = 0
a ** b = 1156
a // b = 17

##2 Comparision Operator
* comparision Operator always return boolan values i.e. True or False.
* comparision operators are used to perform comparision between two values.
* == (Equal), !=(Not Equal), >(Greater Than), <(Less Than), >=(Greater Than or Equal), <=(Less Than or Equal)
* by using comaprision operators's / conditional operators we are ask question is it equal / or not? etc.

In [ ]:
print("a>b =", {a>b})
print("a<b =", {a<b})
print("a==b =", {a==b})#is a equal to b
print("a!=b =", {a!=b})#is a is not equal to b
print("a>=b =", {a>=b})
print("a<=b =", {a<=b})

a>b = {True}
a<b = {False}
a==b = {False}
a!=b = {True}
a>=b = {True}
a<=b = {False}

## 3. Logical Operators
* Logical Operators are used to perform operation on boolean values, Logical operators basically helps us operate two booleans
ex. if True and True is True etc.
* **and** **or** **not** are the logical operators
* In a case of **and** if both value is True then only it return True otherwise False.
* In a Case of **or** if Both Values are Flase then only it return Flase otherwies it return True
* In a case of **not** It retrun the opposite values If value is True then return False. If values if False then return True.

In [ ]:
#and
print('For and condition')
print(True and True)
print(True and False)
print(False and True)
print(False and False)
#or
print('For or Condition')
print(True or True)
print(True or False)
print(False or True)
print(False or False)
#not
print('For not Condition')
print(not True)
print(not False)

For and condition
True
False
False
False
For or Condition
True
True
True
False
For not Condition
False
True

## 4. Assignment Operators:
* Assignment Operators are used to assign value to variable.
* **=**, **+=**, **-=**, **/=**, **%=**, ****=**, **//=**
* += equal will add value to variable, similary, -= will subtract from variable, etc.

In [ ]:
a = 5
print(a)
a +=3
print(a)
a -=3
print(a)
a *=5
print(a)
a /=5
print(a)
a = 5
a %=5
print(a)
a = 5
a //=5
print(a)

5
8
5
25
5.0
0
1

## 5. Membership Operators
* **in**, **not in**

#6 Identity Operators
* **is**, **is not**

# Conditional/ Control Flow and Loops
* **What are Conditional Statement?**
* conditional statements allow you to execute code based on certain conditions.
* Python uses if, elif, and else for decision-making
## if Conditional Statements
* **if** conditional statement is used when we have to execute the some block of code if only condition is True.
*Sytnatx

In [ ]:
age =5
if age >= 18:
  print("You Can Drive")
  print("Thank You")
print("End of Program")

End of Program

### if-else statement
* if-else statement is used when we have to check the two condtion at same time then we can use if-else, if condtion is True then if block will get execute otherwise else block will get exectue

**Syntax**

In [ ]:
age =int(input("Enter Age: "))
if age>=18:
  print("You can Drive")
else:
  print(f"You can't Drive")
print("Program End here")

Enter Age: 78
You can Drive
Program End here

## if-elif-else ladder
* when we have more than two condition to check at same time then we can use if-elif-else lader, this lader work in  conjunction and in collaboration with each other.
In this python iterpreter will check condition line by line if 1st condition is false then it will check 2nd then then third line by line if all the condition not meet then at the end we can use else then else block will get exectued.
*syntax

In [ ]:
age =(int(input("Enter Your age: ")))
if (age>18):
  print("You can Drive")
elif (age==18):
  print("Lets schedule an Interview ")
elif (age==0):
  print("Your are just Born")
elif (age<0):
  print("Please enter valid age")
else:
  print("Sorry you cannot drive")

Enter Your age: 18
Lets schedule an Interview

##Match case in python (Python 3.10+)
**What is Match-Case?**
* Match-case is a new feature introduced in Python 3.10 for pattern matching.
* it simplifies complex conditional logic.
* this is like the switch statement in java.
* we can use default case as case _
* we can pass the case in () if it complex statement.

In [ ]:
'''
Syntax
match value:
  case pattern1:
    # Code to execute if value matches pattern 1
  case pattern2:
      # Code to execute if value matches pattern 2
  case _:
    # Default case (if no pattern match)

'''

a = int(input("Enter a number between 1 to 10: "))
match a:
  case 1:
    print("You won a Mobile")
  case 7:
    print("You won the Camera")
  case 5:
    print("You won the Cash prize of $100")
  case _:
    print("Better Luck Next Time")

Enter a number between 1 to 10: 25
Better Luck Next Time

##LOOPs in Python
* Loops are used to execute code repeated time.
* **What are for loops?**
* For loops are used to iterate over sequence(e.g. list, string, range).
* They execute a block of code repeatedly for each item in the sequence.
* when we know the exact number of itration then we can use for loop
* range() function goes from n to end-1.

In [ ]:
'''
Syntax:
for item in sequence:
  # Code to execute for each item

'''
for i in range(1, 6): # range function goes from 1 to (6-1) ie. 5 in this
  print(i)

1
2
3
4
5

## While loop in python
* While loops exectue a block of code as long as a condition is True.
* They are useful when the number of iteration is not known in advance.
* Working of while loop
* first it will check the condition if it true then it enter in body execute the block of code until the condition is true.

In [ ]:
"""
Syntax:
while condition:
  # Code to execute while condition is True

"""

* **Infinite Loops:**
* Be careful to avoid infinite loops by ensuring the condition eventually become false.

In [ ]:
num = int(input("Enter a number: "))
while num>0:
  print(num)
  num=num-1

print("While loop is executed ")

Enter a number: 3
3
2
1
While loop is executed

# Break, Continue, and Pass Statement
* **Break**
* The break statement is used to exit a loop prematurely.
* The break statement is used when we want to stop the execution of loop when certain condition meets. As soon as condition is meets it stop the execution of loop. loop will die at the moment.

In [ ]:
for i in range(1, 5):
  if(i==3):
    break # cancel the execution of this loop now.
  print(i)

1
2

* **Continue**
* **The continue statement skips the rest of the code in the current iteration and moves to the next iteration.**
* it won't allow to execute a code which is below the continue statement, for the current iteration it simple skip it and move controller to start to perform next iteration.

In [ ]:
for i in range(5):
  if i == 2:
    continue # continue the loop for the next iteration here itself
  print(i)

0
1
3
4

* **Pass Statement**
* The pass statement is a placeholder that does nothing. It is used to when syntax requires statement but no action is needed.
* if we have nothing to write for now but wan't to update / write something there then  we can  use pass. which do nothing.
* like Some time we declare the method but we don't complete them for now then we can use pass. so after some time we can update this method.

In [ ]:
for i in range(1, 5):
  if i==2:
    pass
  print(i)

1
2
3
4

* Control loop execution with break, continue, and pass.

#String
**Introduction**
* strings are one of the most fundamental data types in Python. A string is a sequence of characters enclosed withing either singl quotes('), dubole quotes("), for triple quotes (''' or """).
* **Creating String**
You can create strings in python using different type of quotes

## Single-quoted string

In [ ]:
a ='Hello, Python!'

### Double-quoted String

In [ ]:
b ="Hello, World!"

* **Note:** By using single quotes or double quotes if we try to create multiline string then it's not allowed in python.

## Triple-quoted string (useful for multi-line strings)
By using triple quotes we can write formated string also.

In [ ]:
c = '''This
 is multiline  String'''

d = """This is
multiline
 String"

## String Indexing in python
* Each character in a string has an index. And string indexes are starts with 0.
* In pythn we can fetch the characters using negative indexes also so we can get character for end / last like -1 means last character.
* to handel with negative index /  we can get positive index by using negative_index + length_of_string
I.e. name[-1+2]

In [ ]:
"""
T     o   m
0     1   2
-3    -2  -1
"""
name = "Tom"
print(name[0])
print(name[-1])

T
m

**Note:** If we try to get value which is greater than it's index then it throw error

In [ ]:
name = 'Tom'
print(name[4])

IndexError: string index out of range

## String Slicing
* You can extract parts of a string using slicing. we can get sub string
by using string_obj[start_index + end_index+1]

In [ ]:
text = "hello, Python!"
print(text[0:5]) #Hello
print(text[7:13]) #Python
print(text[7:]) #Replace the second empty number with length i.e. still end
print(text[:4]) # Replace the first empty number with 0. from start to 3 which
print(text[2:-3]) # from 2 to  [-3+13] =10 i.e. [2 : 10]

hello
Python
Python!
hell
llo, Pyth

* text = [:4] means Replace the first empty number with 0. which similar to [0:4]. So it will get character from start to 3 index.
* text = [1:] means Replace the second empty number with length. so it will get character from 1 to still end.

* slcing using three [0:10:n] means it will start with 0 and end on 9th index and skip n-1 character.

In [ ]:
name = "0123456789"
print(name[0:5:2]) # as we use skipping number 2 i.e. 2-1=1 so it will 1 character
#from selected string

024

## String Methods and functions
* Python provides several built-in mehtods to manipulate string.
* **Strings are immutable in nature** means we can't make any changes into original string value in memory. Whenever we try to make any changes then it will made in new object of string and update and make changes in that.
* We assign the new value to str_variable, we can use this String to create new string but we can't make changes in actual string after declare once.  
* When we use any string method then actual string value is never, this method create new string obj in memory.

In [ ]:
name = "Tom"
name[0]="R" #this is not possible in string

TypeError: 'str' object does not support item assignment

1. **leng(obj)**
* this method return the number of character in string i.e. length of string

In [ ]:
name = "Tom"
a = len(name)
print("Type of a is ", type(a))
print(a)

Type of a is  <class 'int'>
3

2. upper()
* This method will return the given string into upper string.
* **Note:** does not make any changes in atcual string it will create new string.

In [ ]:
print(name.upper())
print(name)

TOM
Tom

3. lower()
* This method will return the given string into lower case character.

In [ ]:
name = "TOM"
print(name.lower())

tom

4. capitalize()
* This method will convert only first letter of string into Upper case.

In [ ]:
name='''hello
kumar
don'''
print(name.capitalize())

Hello
kumar
don

5. title()
* this method will convert the first letter of each word to the upper case.

In [ ]:
name="bunny money home, honey"
print(name.title())

Bunny Money Home, Honey

6. strip()
* this method will remove white spaces and new line from start and end i.e left and right.

In [ ]:
name= "\n   Hello kumar   \n"
print(name.strip())

Hello kumar

7. lstrip()
* This method will remove the white spaces and new line from left only.

In [ ]:
name="\n   Hello world     \n"
print(name.lstrip())

Hello world

8. rstrip()
* This method will remove the withe spaces and new line from only right.

In [ ]:
name="\n    Hello World      \n"
print(name.rstrip())

    Hello World

9. find()
* This method will index number of character where character is occurs first.

In [ ]:
text = "Python is fun"
print(text.find('is'))

7

10. replace(value_to_replce, new_value)
* This method will replace the particular characters in given string with new character on all the occurences.

In [ ]:
text = "Python is fun, Java is fun"
print(text.replace('fun', 'awesome'))

Python is awesome, Java is awesome

11. split(charcter)
* This method will split the given string into list of string just we have to specify from which character we have to split. We have to pass the delimiter.

In [ ]:
text= "Apple, Mango, Banana"
print(text.split(','))

['Apple', ' Mango', ' Banana']

12. join(iterable)
* By using join we can convert/join the iterable like list into string.

In [ ]:
'''
Syntax
string.join(iterable)

'''
print(",".join(['Apple', 'Mango', 'Banana']))

Apple,Mango,Banana

## Checking String property
13. isalpha()
* This method will check that all the characters in givin string is alphabest or not. return bool values.
* If string containing any number or space of special character then it return false.

In [ ]:
text = "Hello"
print(text.isalpha())
text = "Hello123"
print(text.isalpha())

True
False

14. isdigi()
* This method will check that givn string is having only digit or not. return the bool values.

In [ ]:
text='12345'
print(text.isdigit())
text='12345abc'
print(text.isdigit())

True
False

15. isalnum()
* This method will check that given string contain  alphanumberic(alphabets, number and combination of both) values or not.
* This method will return false if given string contain value other than alphanumeric like space or any special character.

In [ ]:
text="abc"
print(text.isalnum())
text= "1245"
print(text.isalnum())
text= "1245abc"
print(text.isalnum())

False
True
True

16. isspace()
* This method will check that given string having only space character's  or not.

In [ ]:
text = "   "
print(text.isspace())
text = " Hello "
print(text.isspace())

True
False

## f-string / string formatting
* String formatting is a powerful feature in Python that allows you to insert variable and expression into strings in a structured way. Python provides multiple ways to format strings, including the older .format() method and the modern f-string.

1. Using .format() method
* The .format() method allows inserting values into placeholders {}. this is use before the 3.6 version of python

In [ ]:
print("{1} is learning {0}".format("Python", "Tom"))
print("{name} is  {age} years old".format(name="Tom", age=25))

Tom is learning Python
Tom is  25 years old

2. **f-string**
* Introduced in Python 3.6, f-strings are the most concise and readble way to format strings.
* we can, directly put variable in f-string.

In [ ]:
name= "Tom"
age= 25
print(f"{name} is {age} years old")

Tom is 25 years old

* Using Expressions in f-String
you can perform calulations directly inside f-string:

In [ ]:
x = 10
y = 20
print(f"The sum of {x} and {y} is {x + y}")

The sum of 10 and 20 is 30

Formatting Numbers

In [ ]:
pi = 3.14159265
print(f"Pi rounded to 2 decimal places : {pi:.2f}")

Pi rounded to 2 decimal places : 3.14

Padding and Alignment

In [ ]:
text = "Python"
print(f"{text:>10}")  # Right-aligned with 10 spaces
print(f"{text:<10}")  # Left-aligned with 10 spaces
print(f"{text:^10}")  # Center-aligned with 10 spaces

    Python
Python
  Python

17. ord()
* This method which return the ASCII value of character. We have to pass the character. this method will return the ASCII value in number.

In [ ]:
print(ord('A'))

65

18. chr()
* The method will return the character present on that perticular ASCII value. We have to pass the number then this method will return the character present on that number.

In [ ]:
print(chr(65))

A

## **Important Note**
* **Escape Sequences:** Use \n, \t, \', and \\ to handle special characters in strings.
* Raw Strings : Use r"string" to prevent sequence in interpretation.
* String Encoding & Decoding: Use .encode() and .decode() to work with different text encodings.
* String immutability: Strings in Python are immutable, meaning they cannot be change after creation.
* Performance Consideration: Using ''.join('list_of_strings) is more efficient than concatenation in loop.
## Summry
* .format() allows inserting values into placeholders.
* f-strings provide an intuitive and readable way to format strings.
* f-string support expression, calculations, and formatting options.
* Python provides various string methods for modification and analysis.
* Case conversion, trimming, finding, replacing, splitting and joinning are commonly used.
* Functions like len(), ord(), and chr() are useful for working with string properties.

#Functions and Modules
Functions helps to perform certain operation, it make code reusable and readable, maintainable.
1. Defining functions in Python
* functions help in resuability and modularity in python.

**Key Points:**
* Define using def keyword
* function name should be be meaningful and follow the same rules of naming variable.
* Use return to send a value back.

In [ ]:
def greet(name):
  return f"Hello, {name}!"
print(greet("Alice"))

Hello, Alice!

2. Function Arguments & Return Values
* Functions can take parameters and return values.

**Note**: If method is not returning anything then we get none.

**Types of Arguments:**
  1. Positional Arguments

In [ ]:
def add(a,b): #a,b are paramters
  return a + b
result=add(5,3) #5,3 are the arguments.
print(result)

def sub(a,b):
  print(a-b)

result=sub(5,3)
print(result)

8
2
None

 2. Default Arguments
 * This are optional arguments and it's optional.
 * if we Assgin the value as n default argument, while calling a method if we pass the value for this default argument then then the default or previous value will get overide  when we are calling otherwise it remain same.
 * we have to palce the default Arguments after the positional argumeent.

In [ ]:
def greet(name="Guest"):
  return f"Hello, {name}!"
print(greet())

def add(a,b=5):
  return a+b
print(add(5))
print(add(5,10)) #here value of b is overide to 5 to 10
print(add(4))

Hello, Guest!
10
15
9

 3. Keyword Arguments
 * When we have to change the occurance / order then we have to use this keyword arguments, but arguments must match with parameter.

In [ ]:
def student(name, age):
  print(f"Name: {name}, Age: {age}")
student(age=20, name="Alice") #keyword assgin the value to argument

Name: Alice, Age: 20

3. Lambda Functions
* Lambda functions are anonymous, inline(one line) functions.
* lambda function is declare using the lambda keyword.

**Syntax**
method_name= lambda paramter: code
* this method return the value

* lambda function is used to create one liner function. Or When we have to pass function to function the we can use lambda function.

In [ ]:
square=lambda x: x*x
#methodname=lambda paramter: code
print(square(5))
sq=square(4)
print(sq)

#lambda function with two argument
add=lambda x,y: x+y
print(add(5,3))

25
16
8

4. Recursion in Python
A recursion is occur when a function calling itself to solve a problem.
* Whenver we have a formula of a function in the form of itself, we use resursion.

**Note:** While using the recursion
1. **Must have a base case to avoid infinte resurion.** If we don't use base case then loop will go into infinite loop.
* Used in alorithms like Fibonacci, Tree traversals.

In [ ]:
#Factorial
def factorial(n):
  if n==1:
    return 1
  return n*factorial(n-1)
print(factorial(5))

120

Fibonacii series mean addition of previous two value we get the new number. i.e. new number is the addition of previous two number.

In [ ]:
'''
fibonacii
0 1 1 2 3 5 8 13
fib (0)=0
fib(1)=1
fib(2)=fib(0)+fib(1)
fib(n) = fib(n-2) + fib(n-1)
'''
def fib(n):
  #Base case of recursion
  if(n==0 or n==1):
    return n
  return fib(n-2)+fib(n-1)
print(fib(5))

'''
When we pass 6 to the function then 1st it will check codition ie. n=6 i.e. condtion is false so it will
execute the formula we get fib(4)+fib(5). fib 4 is pass to the function and + fib(5)
remain same which resolve later. for now fib 4 it will check condition which flase again 4 is put in to
formula we get fib(2)+fib(3)
for fib (0) it will return 0 and for fib(1) it return 1.

fib (4) + fib (5)
fib (2) + fib (3) + fib(5) # fib(4) is break down to fib(2) + fib(3)
fib (0) + fib (1) + fib(3) + fib(5)
0 + 1 + fib(1) + fib(2) + fib(3) + fib(4)
0 + 1 + 1 + fib(0) + fib(1) + fib(1) + fib(2) + fib(4)
0 + 1 + 1 + 0 + 1 + 1 + fib (0) + fib(1) + fib(2) + fib(3)
0 + 1 + 1 + 0 + 1 + 1 + 0 + 1 + fib(0) + fib(1) + fib(3)
0 + 1 + 1 + 0 + 1 + 1 + 0 + 1 + 0 + 1 + fib(1) + fib(2)
0 + 1 + 1 + 0 + 1 + 1 + 0 + 1 + 0 + 1 + 1 + fib(0) + fib(1)
0 + 1 + 1 + 0 + 1 + 1 + 0 + 1 + 0 + 1 + 1 + 0 + 1
'''

5

5. Modules and Pip - Using External Libraries
**Importing Modules**
* Python provides bulit-in and third-party modules.

* Python have some inbuilt and third party libraries which help us to solve our problem by using code which is written by others. Just we have to import that modules and we can use in our program.
* By using **import** keyword we can improt code form module.

In [ ]:
import math #math is built-in module in python which have many methods to solve meathematic problem
print(math.sqrt(16)) #math is name of module and sqrt() is method of that module.

4.0

## In python there are two types of modules
1. built-in modules
2. External modules
1. Buil-in modules
* The modules which is provided by python itself.
https://docs.python.org/3/py-modindex.html

2. External Modules
* External modules can be written by us or we can install external module written by other using pip install command.
**syntax**
pip install module_name

**Note:** if we import module then we have to use this module other python show the warning msg.
* we can create our own module. Just we have to create python file with .py extension. now we can import data member present inside this module whenever we needed.

In [ ]:
pip install request
# by using
r=request.get('https://www.google.com') #this get method will get html code of any webiste
print(r.text) # text is not method is a property.

* When we install module and if that module is depending on other module then all this depending modules are get install.

6. Function Scope and Lifetime
* In python, variable have scope (where they can be accessed) and lifetime(how long they exist). Vriables are created when a function is called and destroyed when it returns (method stop/ return by method.). Understanding scope helps avoid unitened errors and improves code organization.

* function keeps variable until it's return as soon it's return by method variable inside method will be clear or deleted from memory.
**Types Of Scope in Python**
1. Local Scope(inside a function) - Variables declared inside a function are accessible only within that function.
2. Global Scope (accessible everywhere) - variable declare outside any function can be used throughout the program.

In [ ]:
def sum(a,b):
  c = a + b
  z=1 # this is local variabl inside the method this var will destroy when this
  # function returns
  return c # a, b and c are the locala variables

print(sum(4,5))

z= 8
print(z)
print(sum(5,z))

9
8
13

**Using the global keyword**
* To modify a global variable inside a function, use the global keyword and we can declear the gloabl variable inside non-globla scope.
1. we have to call gloabal keyword and global variable inside method then we
2. we can assign values

* like

In [ ]:
def sum(a,b):
  global c
  c = a + b
  z=1
  return c
print(sum(4,5))
print(c)

def greet(n):
  global name
  name = n # this will refere to global name, not creat local variable
  return f"Hello, {name}!"


name="ram"
print(name)
print(greet("Alice"))
print(name)

9
9
ram
Hello, Alice!
Alice

**This allows functions to change global variables, but excessive use of gloabl is discourage as it can make dubugging harder.**

7. Docstrings - Writing Function Documentation
* Docstrings are used to document functions, classes, and modules. In python, they are written in triple qoutes. They are accessible using __doc__ attribute. Here's an example
* Docstring is writte just after declaring function i.e. just after the : i.e. starting
* Docstring added in python because some time we have to add information along with function like which parameter its accepting, type of variable is returning. When we hover over function this docstirng information will be seen. We can write multiline docstring.

In [ ]:
def sum(a,b):
  '''This function return the sum of two numbers'''
  return a+b
print(sum.__doc__) #syntax to get doc string methodname.__doc__

This function return the sum of two numbers

In [ ]:
def add(a,b):
  '''
  Returns the sum of two numbers.
  Parameters:
  a (int): The first number.
  b (int): The second number.
  Returns:
  int: The sum of the two numbers.
  '''
  return a+b
print(add.__doc__)

  Returns the sum of two numbers.
  Parameters:
  a (int): The first number.
  b (int): The second number.
  Returns:
  int: The sum of the two numbers.

**Summary**
* Functions help in reusability and modularity
* Functions can take arguments and return values.
* Lambda functions are short, inline functions.
* Recursion is a techinque where a fucntion calls itself.
* Modules help in organizing code usingg external libraries.
* Scope of lifetime of variable decide their accessibility.
* Docstring are used to document functions, classes and modules.

# Data Structure in Python
* Python provides powerful bulit-in data structures to store and manipulate collections of data efficiently.

1. List
* Lists are odered, mutable (changeable) collections of items.
* ordered is maintain in list throughout the program.
* List we can store multiple values of different data types.
* List are declare using square brackets[] and values are seprated by commas [,]
* Mutabel means we can perform all manipulation operation like inser, update, delete operation on list.
* All List values are placed at indexes. it strats from 0. We can access the items in list using their index values. like obj[0]. we can access using positive (fetch from start) and negative(negative fetch from end) index to get items from list.

In [ ]:
mark=[54, 23, 64, 93, 32]
mixed= [43, "Hello", False, 2.3]
print(mark)
print(mixed)
print(mark[0])
print(mixed[-1])
print(mixed[1:3])

[54, 23, 64, 93, 32]
[43, 'Hello', False, 2.3]
54
2.3
['Hello', False]

**Methods under List**
* Any method which use on list will change the original list.
1. append(value)
* This method will change the original list. This method will insert value at end of list ie. on last index.

In [ ]:
marks=[1, 3, 4, 5]
print(marks)
marks.append(66) ## 66 will be added and end of list after 5.
print(marks)

[1, 3, 4, 5]
[1, 3, 4, 5, 66]

2. pop()
* This method will remove the last element from the original list by defult if we pass the index value then it will remove the item on that index.

In [ ]:
l=[4, 3, "Hulu lu"]
print(l)
l.pop() # remove last item from list
print(l)
l.pop(0) # remove item on index 0
print(l)

[4, 3, 'Hulu lu']
[4, 3]
[3]

3. insert(index, value)
* This method will add the inbetween values in list. we have to pass two values which are 1st index number and 2nd is value which we want to insert.

In [ ]:
moon=[1, 2, 4]
print(moon)
moon.insert(1, 'VALUE INSERTED') # VALUE INSERTED is inserted on index 1.
print(moon)

[1, 2, 4]
[1, 'VALUE INSERTED', 2, 4]

4. extend
* Basically extedn will take another list as an input  and it will append all the elements of that list (iterable) to the end of original list.

In [ ]:
animal=["monkey", "horse"]
new_animal=["lion", "fox"]
print("animal= ", animal)
print("new_animal= ", new_animal)
animal.extend(new_animal) # new_animal values are place after animal's value
print(animal)

animal=  ['monkey', 'horse']
new_animal=  ['lion', 'fox']
['monkey', 'horse', 'lion', 'fox']

5. sort()
* This method will sort the list list in acending order in case of integer, alphabetically for string. If list contain the combination of int and string then it won't sort list it throw an error.

In [ ]:
num=[2,4,5,1,0]
print(num)
num.sort()
print(num)
#string
str=["zoom", "monkey", "apple", "fox"]
print(str)
str.sort
print(str)
#alphnumberic
alp=[2,"fox", "humble", 23, 2.5]
alp.sort()
print(alp) #TypeError: '<' not supported between instances of 'str' and 'int'

[2, 4, 5, 1, 0]
[0, 1, 2, 4, 5]
['zoom', 'monkey', 'apple', 'fox']
['zoom', 'monkey', 'apple', 'fox']

6. reverse()
* This method will reverse the original list.

In [ ]:
l=["hello", 2, 34, 23.4]
print(l)
l.reverse()
print(l)

['hello', 2, 34, 23.4]
[23.4, 34, 2, 'hello']

7. remove(index)
* this method will remove the item from list just we have to pass the index value which want to remove.

In [ ]:
l=["hello", 2, 34, 23.4]
print(l)
l.remove(2)
print(l)

['hello', 2, 34, 23.4]
['hello', 34, 23.4]

##List Comperhensions (Efificient List Creation)
* suppose we have to create the list which contain table of 5.

In [ ]:
#This is the one way
num=5
table=[]
for i in range(1, 11):
  table.append(num*i) # this append will populate the number in list one after another.
print(table)

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

In [ ]:
# short/ comperhensive way to do this
table=[5*i for i in range(1,11)]
print(table)

# squred
squared = [x**2 for x in range(6)]
print(squared)

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]
[0, 1, 4, 9, 16, 25]

## 2. tuples and Operations on Tuples
* Tuples are ordered but immutable collections (cannot be changed after creation)
* We can't perform any manipulation operation on tuple like insert, update, delete.
* tuple is declare using parenthesis () and values are seprated by commas (,). This tuple valuse are placed in index form which starts from 0. We can access the item's in tuple using index values like obj[0]
* tuple is an immutable version of list. **Tuples are used when don't want our values in collection can not be change in any condition**
* If we cant to create the tuple having single element then we have to use comma (,). Because the in python parenthesis () are use to group an element.

In [ ]:
a = (1, 3, 4)
print(a)
print(a[2])
#a[2]=34 # this throw an TypeError: 'tuple' object does not support item assignment
str=(5)
print(str, "Type of str", type(str))
str=(5,)
print(str, "Type of str", type(str))

(1, 3, 4)
4
5 Type of str <class 'int'>
(5,) Type of str <class 'tuple'>

**Tuple Unpacking**
* In tuple unpacking, we assign certain variables wtih the content of tuple.

In [ ]:
tu = (1, 3, 5)
a, b, c = tu
print(a, b, c)

1 3 5

**Methods Under Tuple**
1. count(value)
* This method will returns the number of time value is appears in the tuple.

In [ ]:
tup= (1,2, "Hello", 2, 2, "Hello")
print(tup.count("Hello"))
print(tup.count(2))

2
3

2. index(value)
* This method will return index of the first occurence of value.

In [ ]:
print(tup.index(2))

1

**Why Use Tuples?**
* Faster then lists (since they are immutable) thye are optimised.
*Used as dictionary key(Since they are hashable)
*Safe from unintened modification.

## 3. Sets and Set Methods
* Sets are unordered, unique collections(no duplicates (values) allowed)
* set is declear using curly braces {}.
* In set indexes are not present. So we can't access the set elements using indexes.
* In set there are various method to add, remove elments.
* inside the set order is not maintain.

In [ ]:
s = {2, 23, 2, 11, "hello"}
print(s, type(s))
#print(s[2]) This is not allowed in set. TypeError: 'set' object is not subscriptable

{2, 11, 'hello', 23} <class 'set'>

**Methods Under set**
1. add(value)
* This method is used to add the element in set, just we have to pass the value which we want to add then this value is added in original set at any random poisition.

In [ ]:
s = {2, 23, 34, "Hello"}
print(s)
s.add("moon")
print(s)
s.add(11584.581)
print(s)

{'Hello', 2, 34, 23}
{2, 34, 'moon', 23, 'Hello'}
{11584.581, 2, 34, 'moon', 23, 'Hello'}

2. remove(value)
* This method will remove the element for the original set, just we have to pass the value.
* if we try to remove the value which is not present in set then it throw an key error.

In [ ]:
s = {1, 23, 34, 234}
print(s)
#s.remove(2)#KeyError: 2
print(s)

{1, 34, 234, 23}
{1, 34, 234, 23}

3. discard(value)
* This method will remove the element from original set if it present, if element is not present then it won't throw any error.

In [ ]:
s = {1, 2, 3, 4, 32}
print(s)
s.discard(2342) # in set 2342 is not present but don't throw an error
print(s)
s.discard(1) # 1 is discarded / remove from set object.
print(s)

{32, 1, 2, 3, 4}
{32, 1, 2, 3, 4}
{32, 2, 3, 4}

4. pop()
* This method will remove any item from set randomly.

In [ ]:
s ={87, 34, 34, 342, 23, 2,}
print(s)
s.pop()
print(s)

{34, 2, 342, 23, 87}
{2, 342, 23, 87}

**Set Operation**
1. Union
* This method combine two set object into one. And remove any duplicate values.

In [ ]:
set1 = {1,2,34, 534234, 234, 'moon', 'bloom'}
set2 = {2, 23, 23,  'moon'}
unionSet= set1.union(set2) # containse all the element in set1 along with all the
# element in set2
print(unionSet)

{1, 2, 34, 234, 'bloom', 23, 'moon', 534234}

2. intersection
* This method return the  common values from two set or all.

In [ ]:
set_1= {"monkey", 1, 3, 49}
set_2= {2, 1, 3, "monkey", 89}
set_3= set_1.intersection(set_2) # contains only the element that are present in set1 as well as set2.
print(set_3)

{1, 'monkey', 3}

**Use Case of Sets: Sets are greate for remove duplicate values.**

## 4. dictionaries and Dictionary Methods
* Dictionaries store values in key:value pairs and allow fast lookups.
*  we can use any data type as a key name which are hashable in python. i.e. string, integer, tuple. we cannot use list as it is not hashable.
* Dictionaries are deacler using curly braces, key:values pairs are separated by commas (,).
* we can access the items in dictionary we have to pass key name obj[keyname]

In [ ]:
mark={"tom":34, "jack":45, "lily":94, 1:"moon"}
print(mark, type(mark))
print(mark["tom"])

{'tom': 34, 'jack': 45, 'lily': 94, 1: 'moon'} <class 'dict'>
34

* We can update the value of key also

In [ ]:
mark['tom']=74
print(mark)
mark[1]="sun" # value of key 1 is updated
print(mark)

{'tom': 74, 'jack': 45, 'lily': 94, 1: 'moon'}
{'tom': 74, 'jack': 45, 'lily': 94, 1: 'sun'}

* we can add the value in dictionary just we have to pass obj[key_name]=its_value

In [ ]:
mark["sohan"]=48 # key:value pair is added
print(mark)

{'tom': 74, 'jack': 45, 'lily': 94, 1: 'sun', 'sohan': 48}

**Common Dictionary Mehtods:**
1. keys()
* This method will return all the keys which are present inside the dictionary.

In [ ]:
print(mark.keys())

dict_keys(['tom', 'jack', 'lily', 1, 'sohan'])

2. values()
* This method will return all the values which are present inside the dictionary.

In [ ]:
print(mark.values())

dict_values([74, 45, 94, 'sun', 48])

4. pop(key)
* This method will remove the key from dictionary along with its value, just we have to pass the key_name as an input in same data type as key has.

In [ ]:
mark.pop("tom")
print(mark)

{'jack': 45, 'lily': 94, 1: 'sun', 'sohan': 48}

5. clear()
* This method will clear the dictionary, remove all keys along with values.

In [ ]:
mark.clear()
print(mark)

{}

**Dictionary Comperhaensions:**
* efficient way to create the dictionary

In [ ]:
table_of_5={i:5*i for i in range(1,11)}
print(table_of_5)

{1: 5, 2: 10, 3: 15, 4: 20, 5: 25, 6: 30, 7: 35, 8: 40, 9: 45, 10: 50}

In [ ]:
#dictionary of square
square={i:i**2 for i in range(1, 6)}
print(square)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

## 5. When to Use Each Data Structure
1. List
* List is orderd, Mutable. Best to use for Storing sequences, dynamic data
* List is used when have to maintain the order, it can be change like we have to perform manipulation on data, Storing sequences mean sequence data like table, dynamic data mean data is coming and we have to store in order first come first server order. (we can't use list as dictionary key)

2. Tuple
* Ordered, immutable. Best to use for storing fixed collections, dictionary keys

3. set
* key:value paris, Best for Fast looups, structured data.
* Unordered, Unique. Best for removing duplicates, set operations
* When we need unorderd and unique collection, when we don't need indexing but need to store unique data or avoid duplicate data.

5. Dictionary
* Fast Lookups: Optimized for quick retrieval of values based on their associated keys.
* Structured Data: Ideal for organizing and representing data with clear relationships between keys and values.
* Efficiency with Large Datasets: Provide significantly faster data access compared to other structures like lists or sets when dealing with substantial amounts of data.

#Object-Oriented Programming (OOP) in Python
* We'll now explore how to organize and structure your Python code using objects, making it more manageable, reusable, and easier to understand.
1. What is OOP Anyway?
* Imagine you're building with LEGOs. Instead of just having a pile of individual bricks (like in procedural programming), OOP lets you create pre-assmbed units like a car, a house, or a robot. This units have specific part (data) and things they can do (actions).
**That's waht OOP is all about. It's a way of progamming that focuses on creating "Objects.**" An object is like a self-contained unti that bundles together:
* **Data(Attributes):** Information about the object. For a car, this might its color, model, and speed.
* **Action (Methods):** Things the object can do. A car can accelerate, break,  and turn.
ex. suppose we want to create form boarding/book the train ticket, then this form contain the information like train number, passenger information like name, age, boarding station and destination etc. So, create this type of from we have to create class which contain this information, **Class** is blueprint / templated where we can declare the data (variable/information) and methods(action). So, using this class we can create object i.e. nothing but it is copy have class. by using Classes and object we can solve the real world problems.
**What is Class?**
Class is blueprint / tempate which hold the information like variables (information) and method (perform actiong using the information class have).
Suppose, we have class car, car can have tire, body, brand, etc. calss contain all basic and needed infromation to work with real world problem.
**What is object**
Object is nothing but it's copy of class, by using objects we can use information call multiple time, we can modify the the tamplate provided by the class.
ex. As we have have basic blueprint for class, so using the baisc blueprint we can create our own brand, we can modify the car model etc.
* Why Bother with OOP?
OOP offeres several advantages:
* **Organization:** Your code becomes more structured and easier to navigate. Large projects become much more manageable.
* **Reusability:** You can use the same object "blueprints" (Classes) multiple times, saving you from writing the same code over and over.
* *Easier Debugging:** When something goes wrong, it's often easier to pinpoint the problem with a specific, self-contained object.
* **Real World Modeling:** OOP allows you to present real-world things and their relationships in a natural way.

## **The Four Pillars of OOP**
OOP is built four fundamental principles:
1. **Abstraction:** Hiding implimentaiton of of code, and providing the functionality to the user.
* Think of driving a car, You see the steering wheel, pedals, and gearshift, but you don't need to know the complex engineering under the hood. Abstraction means hinding complex details and showing only essential information to the user.
Ex. some time we use the methods, modules but we don't how it process it backend code for this.
2. **Encapsulation:** This is like putting all the car's engine parts inside a protective casing. Encapsulation bundles data (attributes) and the method that opearate on the data **within a class**. This protects data from being accidentally changed or misused from outside the object. It controls access. (Bundalilng data and method together to create single entity.)
3. ** Inheritance:** Imagine creating a "SportsCar" class. Instead of starting from scrattch, you can build it upon an existing "Car" class. The "SportsCart" inherits all the features of a "Car"* (Like wheels and engines) and adds it own special features (like a spoiler). This promotes, code reuse and reduces redundancy.
(It just like building somthing on top of a basic stucture that's already built.)

4. **Polymorphism"**: "Poly" means many, and "morph" means forms. This means objects of different classes can respond to the the same "message" (method call) in their own specific way. For example, both a "Dog" and a "Cat" might have make_sound() method. The dog will bark, and the cat will mewo - same method name, different behaviour.

## 2. Classes and Objects: The Blueprint and the Building

* **Class:** Think of a class as a blueprint or a template. It defines what object will be like - What data it will hold and what actions it can perform. It doesn't create the object itself, just the instructions for creating it. It's like an architecutral plan for a house.

* Object(Instance): An object is a specific instance / copy created from a the class blueprint. If "Car" is the class, then your red Honda Civic is and Object (an instance) of the "Car" class. Each Object has its own unique set of data. It's like the actual house built from the architectural plan.

In [ ]:
# Class
class Employee:
  company = "HP"
  def get_salary(self):
    print(self)# referes the current object. this print statement print memory location of objects.
    return 34000
# Object creation
emp1 = Employee()
print(f"Salary of Employee1 {emp1.get_salary()}")
emp2 = Employee()
print(f"Salary of Employee2 {emp2.get_salary()}")

## Self
* Inside a class, self is like saying "this particular object." It's a way for the object ot refer to itself. It's always the first parameter in a method definiation, but python handles it automatically when you call the method. You don't type self when calling the method. Python inserts it for you.
**Self** is basically references to the object which is being talked aobut i.e. current object suppose if we create objec1 then self is object1. **self referes the current object on which we are working or calling for**. suppose we create another object object2 then self is object2.
* self is a way to reference the object of the class which is being created.
* It is mandatory to use self as first parameter while creating the method inside the class.

# Constructors in python: Setting Things UP (__init__)
* The __init__ method is special. It's called the constructor. It's automatically run whenever you create a new object from a class.
* **What's it for?**
- constructor are used to initionlize the object. The constructors' job is to initialize the objets attributes - to give them their starting values. It sets up the inital state of the object.

In [ ]:
class Dog:
  def __init__(self, name, breed): #the constructor
  self.name=name # create an instance attibute / variable of self.name and assign it with name
  self.breed=breed # setting the breed instance variable/ attribute

  #when we do this:
my_dog = Dog("Buddy", "Golden Retriever") # The __init__ method is automatically called when we create object
# it's like we're saying
#1. create a new Dog class object i.e. my_dog and pass value to it
#2. Run the __init__ method on this new object:
# now it will set My_dog.name to 'Buddy' which is self.name in constructor.
# and set my_dog.breed to "Golden Retriver"

You can also set **default Values** for parameters in the constructor, making them optional when creating an object:

In [ ]:
class Dog:
  def __init__(self, name="Unknown", breed="mixed"):
    self.name=name
    self.breed= breed
dog1 = Dog() # name will be "Unknown", breed will be "Mixed"
dog2= Dog("Rex") #name will be "Rex", breed will be "Mixed"
dog3= Dog("Max", "Labrador") # name will be "Max", breed will be "Labrador"

##Instance attribute/variable and Class attibute/Variable
1. **Class Attributes/Variables:** These are shared by all objects of the class. like speices in our Dob class. They are defined outside of any method, directly within the class. This are same for the all the objects which are created.
* The class variable is access using classname.variblename
2. **Instance Attributes/Variable:** These are specific to each individual object. It is belong's to particualr object. like name and breed are instance attribute/variable. Each dog has its own name and breed. They are usually defined within the __init__ mehtod. This are belong to particular object itself.   
* The class variable is access using self.variblename

In [ ]:
class Dog: # define a class called "Dog"
  species = "canis familiaris" # define a class attribute called "species" with the value "canis familiaris" which is shared by all the objects of the class.

  def __init__(self, name, breed): #The constructor
    self.name=name
    self.breed=breed

  def bark(self):
    print(f"{self.name} syas Woof!")

#now, let's create some Dog Objects:
my_dog=Dog("Buddy", "Golden Retriever")
another_dog=Dog("Lucky", "Labrador")
# We can access their attribute/variable
print(my_dog.name) #Output: Buddy
print(another_dog.breed) #output Larador
#And make them perform actions:
my_dog.bark() #Output: Buddy says Woof!

print(Dog.species) # Accessing Class Attribute/ variable

Buddy
Labrador
Buddy syas Woof!
canis familiaris

**Object Introspection**
is way to find all the methods and attribute which are present inside the method using dir() function.

In [ ]:
print(dir(my_dog))

['__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', '__weakref__', 'bark', 'breed', 'name', 'species']

##4. Inheritance: Building Upon Existing Classes.
* Inheritance is like a family tree. A child class (or subclass) inheritts traits(attributes and methods) from its parent class(or superclass). This allows you to create new classes that are specilized versions of existing classes, without rewriting all the code.
* Sub class have all the properties of it's super class.
* In python we create subclass, and inside parenthesis we pass the Parent class Name. So, this subclass inherit the property from its parent. So, do need to declare them we just directly use them or we can overried them as per need of supclass.

In [ ]:
class Animal: #Parent Class(Super Class)
  def __init__(self,name):
    self.name=name

  def speak(self):
    print("Generic Animal Sound")

class Dog(Animal): #Child Class(Sub Class) inherits from animal (Dog is subclass)

  def speak(self):# We Override the speak method
    print(f" says Woof!")

class Cat(Animal):
  def speak(self):
    print(f" Sys Meow!)")
#create object of Animal
animal= Animal("Generic")
animal.speak()

#create objects of Dog class.
my_dog= Dog("Tom") # this contains all attributes in Animal class and it's own properties also.
my_dog.speak() # This is method present in animal class which is override in Dog class.

Generic Animal Sound
 says Woof!

* **Super()**
Inside Child class, super() lets you call methods from the parent class. This is useful when you want to extend the parent's behavior instead of completely replacing it. It's especially important when intializing the parent class' part of child object.
* In, python by using super() function/method we can call the method of superclass in sub class. Basically super() methd getting the instance of parent class and calling its method. (Super() method get the instance of parent class then call it's method. )
* this method returns temporary object of superclass so we can call the methods and attributes without explicitly nameing the parent class. We can initialize the parent attribute from sub class using super().

In [ ]:
class Tiger(Animal):
  def speak(self):
    super().speak() # We are using the speak function of the parent class.
tg=Tiger("King")
tg.speak()

Generic Animal Sound

In [ ]:
''' Multiple inheritance

The primary advantage of using super() becomes more apparent in
multiple inheritance scenarios, where it helps to resolve
the Method Resolution Order (MRO) and ensures that the
correct next class's method is called in the MRO.
'''
class Animal:
    def __init__(self, animal_type):
        print(animal_type, 'is an animal.')

class Mammal(Animal):
    def __init__(self, mammalName):
        print(mammalName, 'is a warm-blooded animal.')
        super().__init__(mammalName)

class NonWingedMammal(Mammal):
    def __init__(self, NonWingedMammal):
        print(NonWingedMammal, "can't fly.")
        super().__init__(NonWingedMammal)

class NonMarineMammal(Mammal):
    def __init__(self, NonMarineMammal):
        print(NonMarineMammal, "can't swim.")
        super().__init__(NonMarineMammal)

class Dog(NonMarineMammal, NonWingedMammal):
    def __init__(self):
        print('Dog has 4 legs.')
        super().__init__('Dog')

d = Dog()

Dog has 4 legs.
Dog can't swim.
Dog can't fly.
Dog is a warm-blooded animal.
Dog is an animal.

## Operator Overloading
* Python lets you define how standard operators(Like +, -, ==) behave when used with objects of your own classes. This is done using special methods called "magic methods" (or "Dunder methods" because they have double undersocres before and after the name).

In [ ]:
class point:
    def __init__(self, x, y):
        self.x=x
        self.y=y

    def sum(self, p):

        return point((self.x + p.x), (self.y + p.y))
    def print_point(self):
        return f"x is {self.x} and y is {self.y}"
    def __add__(self, p): #overloading the + operator
        return point((self.x + p.x), (self.y+p.y))
p1=point(1,2)
p2 =point(2,4)
# p = p1.sum(p2) #Returns a new point which is sum of p1 and p2.
p = p1 + p2 # We overloaded the + Operator by writing __add__() function
print(p.print_point())

x is 3 and y is 6

* **Other Useful magic methods:** (You don't need memorize them all, but be aware they exist!)
* __sub__(-), __mul__(*), __truediv__(/), __eq___(==), __ne__(!=), __lt__(<), __gt__(>), __len__(len()), __getitem__, __setitem__, __delitem__ (for list/dictionary-like behavior - allowing you to use [] with your objects.)

#Python: Advanced Concept
This section convers several advanced concepts in Python, including decorators, getters and setter, static and class methods, magic methods, exception handling, map/filter/reduce, the walrus operator, and *args/**kwargs.

#Decorators in Python
**Introduction**
* Decoratros in python are a powerful and expressive feature that allows you to modify or enhance functions and methods in a clean and readable way. They provide a way to wrap additional functionality around an existing function without parmanetly modifying it. This is often reffered to as metaprogramming, where one part of the program tries to modify another part of the program at compile time.
* Decorators use python's higher-order functtion capability, meaning functions can accept other functions as argumetns and return new functions.
###Understanding Decorators
A decomrator is simply a callable (usually a function) that make another function as an argument and return a replacement function. The replacement function typically extends or alters the behavior of the original function.
* **Decorators in python are a very powerful feautre because they allow us to enhance or modify the existing functions.**
* it's function that takes a function and creates a new function and then return that creatd function. as it return the function we have to store in some variable now this variable contain the method so we have to call this as an function.

In [ ]:
'''Syntax of decorators
'''
#Decorator is a function that takes a function, it create a new function inside its boyd
# (wrapper). Then it returns that new function.
def decoractor(func):
  def wrapper():
    print("I am about to execute a function...")
    func()
    print("I have exectured this function...")
  return wrapper
def say_hello():
  print("Hello")
f=decoractor(say_hello) # this decoractor take function and return the function the we store this in f and then we call f as an function.
f()
'''f is look like inside
  def f():
    print("I am about to execute a function...")
    say_hello()
    print("I have exectured this function...")
'''

I am about to execute a function...
Hello
I have exectured this function...

####How it's work
1. when we call decorator() and when we pass say_hello as an argument to func in decorator. then it return the wrapper().
2. we store this wrappr() in f variable, it containing the wrapper(). when we call the f() then it run wrappr() execute the 1 satement then run the method which we pass and then run the 2nd statement.

* Decorating the the function simply changes that function forever. So sometime we use docorators to change the functionalities fo existing funcitons.

In [ ]:
@decoractor # we use @decorator to decorate the function.
def say_hello():
  print("hello")
say_hello()

I am about to execute a function...
hello
I have exectured this function...

* Here, @deocrator is syntatic sugar for say_hello=decorator(say_hello). it modifies the behavior of say_hello by wripping it inside wrapper(). The wrapper function adds behavior before and after original fucntion.

## Using Decorators with Arguments
* Decorators themselves can also accept arguments. This requries another level of nesting: an outer function that take the decorator's arguments and the returns the actual decorator function.

In [ ]:
def repeate(n):
    def decorator(fun):
        def wrapper(a):
            for i in range(n):
                fun(a)
        return wrapper
    return decorator

@repeate(7)
def say_hello(a):
    print(f"Hello, {a}")

say_hello("Saurav")

'''
def decorator(fun):
    def wrapper(a):
        for i in range(n):
            say_hello(a)
    return wrapper
'''

###How it works
* As, we are accepting the argument so we wrap/nested the decorator inside the repate() which accept the argument. Then decorator accept the function as an arguement, then we create the wrapper method which accept the argument from function we are passing to decorator, then we pass this argument to method itself. now decorator method will return the wrapper method and repate method will return the decorator.

In This example, repeat(7) returns the decorator function. The @ syntax then applies that returned decorator to say_hello. The argument in the wrapper function ensures that the decorator can be used with function that take any number of poisitonal and keyword argument.

##Chaining Multiple Decorators
Your can apply multiple decorators to a single function. Decorators are applied from bottom to top (or, equivlently, from the innermost to the outermost)

In [ ]:
def uppercase(func):
  def wrapper():
    return func().upper()
  return wrapper

def exclaim(func):
  def wrapper():
    return func()+"!!!"
  return wrapper
@uppercase
@exclaim
def greet():
  return "hello"

print(greet())

HELLO!!!

Here, greet is first decorated by exclaim, and then the result of that is decorated by uppercase. It's equivalent to greet=uppercase(exclaim(greet)).

###Recap
Decorator are a key feature in python that enable code reusability and cleaner function modification. They are commonly used for:
* **Logging**: Recording when a function is called and it's arguments.
* **Timing**: Measuring how long a function takes to execute.
* **Authentication and Authorization**: Checking if a user has permission to access a function.
* **Caching**: Storing the results of a function call so that subsequent calls with the same arguments can be returned quickly.
* **Rate Limitation**: Controlling how often a function can be called.
* **Input Validation**: Checking if the argumnets to a function meet certain criteria.
* **Instrumentation**: Adding monitoring and profiling to functions. What is happening when functiion inside the function is taking cup usage and time etc.

Framework like flask and Django use decorators extensively for routing, authentication, and defining middleware.

# Geeters and Setters: Controlling Access to Attribute/variable
* In Objec-oriented programming, getter and setters are methods used to control access to an object's attributes (also know as properties or instance vriables.) They provide a way to encapsulate the internal represntaion of an object, allowing you to validate data, enforce constraints, and perform other operations when an attibute is accessed or modified. While python donesn't have private variable in the same way as languatges like Java, the convention is to use a lead (double underscore __) to indicate than an attribute is inted for interal use.
Using getters and setter helps:
* Encapsulate data and enforce validation: You can check if the new value meets certain criteria before assigning it.
* **Control access to "private" attributes:** By convention, attributes starting with an double conderscore are considered private, and external code should use getter/setter insetad of direct access.
* **Make the code more maintainable:** Changes to the internal representation of an object don't necessarily require changes to code that uses the objects.
* **Add additional logic:** Logic can be added when getting or setting attributes.

Getters and setter are methods that you create to control how attributes/variable of your class are accessed and modified. They are a key part of the principle of *encapsulation*. Instead of directly accessing an attribute (like my_object.attribute), you use methods to get and set its values. This might seem like extra work, but it provides significant advantages

###Why use them
* **Validation:** You can add checks within the setter to make sure the attribute is set to a valid value. For example, you could prevent an age from being negative.
* **Read-Only Attributes:** You can create a getter without a setter, making the attibute effectively read-only from outside the class. This protects the attibutes from being changes accidentally.
* **Side Effects:** You can perform other actions when an attriubute is accessed or modified. For instance, you could update a disply or log change whenever a value is set.
* **Maintainability and Felxibility:** If you decide to change how an attribute is sotred internally (maybe you switch from storing degrees Celsius to Fahrenheit), you only need to update the getter and setter methods. You don't need to change every other part of your code that uses the attribute. This make your code much easier to maintain and modify in the future.

In [ ]:
class Person:
  def __init__(self, name, age):
    self.name=name
    self.__age=age #define private attribute / variable using the dobule undersocre
  def get_age(self): #getter for age
    return self.__age
  def set_age(self, new_age): #setter for age
    if new_age>=0 and new_age<=120: #Validation
      self.__age=new_age
    else:
      print("Age cannot be negative")
person = Person("Ram Kumar", 23)
print(person.get_age())
person.set_age(25)
print(person.get_age())
person.set_age(-5)
print(person.get_age())

23
25
Age cannot be negative
25

## The Pythonic Way: @property Decorator
Python  provides a more elegant and concise way to impelments getters and setters using the @property decorator. This allows you to access and modify attributes using the usual dot notation(eg. p.name) while stil havin the benefits of getter and setter methods.

In [ ]:
class Person:
  def __init__(self, name, age):
    self.name=name
    self.__age=age
  @property # this makes 'age' a property (the getter)
  def age(self):
    return self.__age
  @age.setter #this defines the setter for the 'age' property
  def age(self, new_age):
    if new_age>=0 and new_age<=120:
      self.__age=new_age
    else:
      print("Age is not updated. Invalid Age")
person = Person("Mukesh Kumar", 53)
print(person.age)
person.age=25
print(person.age)
person.age=-5
print(person.age)

53
25
Age is not updated. Invalid Age
25

With @property, accessing and setting the age attribute looks like you're working directly with a regular attribute, but you're actually using the getter and setter method behind the secenes. This combines the convenience of direct access with the control and protection of encapsulation.

**@property** convert the getter function to attribute which look like attribute but it method. to set the setter we have to use the same name as we gave to the getter method. then @method_name.setter convert the setter method to the attribute/property.

To make an attibute read-only, define just @property decorator (the getter) and leave out the name @name.setter method. Trying to set the attibute will result in an AttributeError.

**Benefits of @property:**
* **Attribute-like access:** You can use obj.name instead of obj.get_name() and obj.set_name(), making the code cleaner and more readable
* **Consistent interface:** The external interface of your class remains consistent even if you later decide to add validation or other logic to the getter or setter.
* **Read-only properties:** You can create read-only properties by simply omitting the @property.setter method (see the next section).
* @property.deleter:** deletes a property. here is an example

In [ ]:
class Person:
  def __init__(self, name):
    self.__name=name
  @property
  def name(self):
    return self.__name
  @name.setter
  def name(self, name):
    self.__name=name

  @name.deleter
  def name(self):
    del self.__name

p = Person("Johan")
print(p.name)
del p.name #property  is deleted.
print(p.name)

###**Read_Only Properties**
If you want an attribute to be read-only the @proprety decorator (the getter) and omit the @name.setter method. Attempting to set the attribute well then rise an AttributeError.

In [ ]:
class Circle:
  def __init__(self,radius):
    self.__radius = radius

  @property
  def radius(self):
    return self.__radius
  @property
  def area(self):#Read-only computed property
    return 3.14 * self.__radius **2

c = Circle(5)
print(c.radius)
print(c.area)
#c.radius = 10 Raises AttriubteError: can't set attribute
#c.area=20 Raises attributeError: Can't set attribute

####Recap
* **Getter and Setters:** Provide controlled access to an object's attriubtes, promoting encapsulation and data validation.
* The @property decorator offers a cleanre and more Pythonic way to implements getters, and setters, allowing attriubte-like access.
* You can create Read-Only properties by defining only a getter(using @property without a corresponding @attribute.setter)
*Using @property, you can dynamically compute values (Like the area in cirlce example) while maintaining an attribute-like syntax.

#Static and Class Methods in Python
* When we declare the class variable then we can access it using classname or using objects also. We can access the instance variable using the classname if we try then it will throw an error.
###Introduction
In Python, methods withing a class can be of three main types:
* **Instance Methods:** These are the most common type of method. They operate on instances of the class (objects) and have access to the instance's data through the self parameter.
* **Class Methods:** These methods are bound to the class itself, not to any particular instance. They have access to class-level attribute and can be used to modify the class state. They recive the class itself(Conventionally name cls) as the first argument.
* **Static methods:** These methods are associated with the class, but they don't have access to either the instance (slef) or the class (cls). They are essentially regurlar functions that are logically grouped within a class for organizational purpose.

In [ ]:
class Employee:
  company="HP" #class variable
  def __init__(self, name, salary):
    self.salary=salary

  def print_info(self): #instance method
    return f"Name is {self.name} and salary is {self.salary}"


e1= Employee("Jack", 4000)
e2=Employee("Jill", 5000)
print(e1.company) #accessing class variable using the object
print(e2.company)
print(Employee.company) #accessing class variable using the class.
# print(Employee.name) throw error while calling instance variable using class. AttributeError: type object 'Employee' has no attribute 'name'

HP
HP
HP

1. Instance Method (Default Behavior)
* Intance methods are default type of method in Python classes. They require an instance of the class to be called, and they automatically receive the instance as the first argument(self).

In [ ]:
class Employee:
  company="HP" #class variable
  def __init__(self, name, salary):
    self.salary=salary
    self.name=name

  def print_info(self): #instance method
    return f"Name is {self.name} and salary is {self.salary}"

e = Employee("John", 5000)
info=e.print_info()
print(info)

Name is John and salary is 5000

When we have a situation where we don't want to pass the instance tobe passed to the method then we can the static method. *In a case of instance method first arguement is always the self i.e. reference to instance which pass automatically while calling instance method*
2. Static Method (@staticmethod)
* Static method are marked with the @staticmethod decoarator. They are similar to regular functions, except they are defined withing the scope of a class.
* They don't take self or cls as parameters.
* They are useful when a method is logically related to a class but doesn't need to access or modify the instance or class state.
* Often used for utility functions that are related to the class.
* we write the static method when we don't want any association with the instance of class.

In [ ]:
class Math:
  __company="HP"
  @staticmethod
  def add(x,y):
    return x+y
  @property
  def company(self):
    return self.__company
  @company.setter
  def company(self, name):
    self.__company=name
  @company.deleter
  def company(self):
    del self.__company

print(Math.add(2,3))

5

3. Class Methods(@classmethod)
* A class method is marked with the @classmethod decorator. It takes the class itself (cls) as its first parameter, rather than the instance (self). Class method are often used for:
* **Modifying class attributes:** They can change the state of the class, which affects all instances of the class.
* **Factory methods** They can be used as alternative constructor to create instance of the class in different ways.
* cls refers the class. we can access the class variable using cls in class method.
* When we try to find an attribute inside the object then it will look for instance variable if not found then it will look for class varialbe.

In [ ]:
class Animal:
  species= "Mammal" #class attribute

  @classmethod
  def set_species(cls, species):
    cls.species=species
  @classmethod
  def get_species(cls):
    return cls.species
print(Animal.get_species())
Animal.set_species("Reptile")
print(Animal.get_species())

a = Animal()
print(a.species)

Animal.set_species("Fungies")
print(a.species)

Mammal
Reptile
Reptile
Fungies

In [ ]:
#Alternative Constructor
class Person:
  def __init__(self,name, age):
    self.name=name
    self.age=age

  @classmethod
  def from_string(cls, string):
    name, age = string.split("_")
    return cls(name, int(age)) #created a new Person instance
p = Person.from_string("John_25")
print(p.name)
print(p.age)

John
25

In the above example, from_string acts as a factory method, providing an alternative way to create Person objects from a string.

###When to Use Static Methods?
* When a method is logically realted to class but doesn't require access to instance-specific or class-pecific data.
* For utility functions that perform operationn realted to the class's purpose(e.g. mathematical claculation, string formatting, validation checks.)

| Method Type      | Requires self ? | Requires cls ? | Can Access Instance Attributes? | Can Modify Class Attributes? |
|------------------|-----------------|-----------------|---------------------------------|------------------------------|
| Instance Method  |  Yes          |  No          |  Yes                          |  Yes (indirectly)           |
| Class Method     |  No           |  Yes          |  No (directly)               |  Yes                       |
| Static Method    |  No           |  No          |  No                           |  No                        |

####Recap
* **Instance Methods** are the most common type and operatr on individual objects.(self).
* **Class Methods** Operate on the clas itself(cls) and are often used for factory methods or modifying class-level attributes.
* **Static Methods** are utility functions within a class that don't depend on the instance or class state. They are like regular functions that are logically grouped with a class.

##Magic (Duder) Methods in Python
* Introduction
* Magic methods, also called dunder(double underscore) methods, are special methods in Python that have double underscores at the beginning and end of their names(e.g. __init__, __str__, __add__). These methods allow you to define how your objects interact with built-in python Operators, functions, and language constructs. They provide a way to implement operator overloading and customize the behavior of your classes in a Pythonic way.

They are used to:
* Customize object creation and initialization(__init__, __new__)
* Enable operator overloading(eg. +, -, *, ==, <, >)
* Provide string representation of objects (__str__, __repr__)
* Control attribute access (__getattr__, setatt__, __delattr__)
* Make objects callable(__call__)
* Implementation container-like behavior(__len__, __getitem__, __setitem__, __delitem__, __contains__)
* Support with context mangers(__enter__, __exit__)

### Common Magic Methods
1. __init__ - Object intialization
* The __init__ method is the constructor. It's called automatically when a new instance of class is created. It's used to initialize the object's attributes.

In [ ]:
class Person:
  def __init__(self,name, age):
    self.name=name
    self.age=age

p = Person("Johan", 23)
print(p.name, p.age)

Johan 23