<a href="https://colab.research.google.com/github/RyukThe/BBD/blob/master/Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

print("Hello Wrold!!!")

print() method is used to print something on the console

In [ ]:
a=3
print(a)

3

In [ ]:
#comment
"""multiline comment"""

In [ ]:
str="Hello world!"
print(str)

Hello world!

In [ ]:
a, b, c = 1, 2, "Hello new"
print(f"value of a, b, c is  a ={a}, b={b}, c= {c}")

value of a, b, c is  a =1, b=2, c= Hello new

In [ ]:
print("{},{}".format('str ', 13))
print("{} {}".format("Value is ", b))

str ,13
Value is  2

In [ ]:
print(type(b))

<class 'int'>

In [ ]:
#create Int value
a=45
print(f"value of a = {a} & and type of a is {type(a)}")
#float value
b=45.54
print(f"value of b = {b} & and type of b is {type(b)}")
#complex value
c=345+2j
print(f"value of c = {c} & and type of c is {type(c)}")
#string value
str,str1="hello", "World"
print(f"value of str ={str} and type of str is {type(str)}")
print(str+str1)

value of a = 45 & and type of a is <class 'int'>
value of b = 45.54 & and type of b is <class 'float'>
value of c = (345+2j) & and type of c is <class 'complex'>
value of str =hello and type of str is <class 'str'>
helloWorld

In [ ]:
#List datatype
ldata=[1,2,4, "hello world", 2.4]
print(type(ldata))
print(ldata[0])
print(ldata[-1]) # erturn last index value
print(ldata[0:3])
print(ldata[3])
ldata.insert(3,"Value inserted")
ldata.append("value is added using append method")
print(ldata)
ldata[2]="value is changed"
print(ldata)
del ldata[4]
print(ldata)

<class 'list'>
1
2.4
[1, 2, 4]
hello world
[1, 2, 4, 'Value inserted', 'hello world', 2.4, 'value is added using append method']
[1, 2, 'value is changed', 'Value inserted', 'hello world', 2.4, 'value is added using append method']
[1, 2, 'value is changed', 'Value inserted', 2.4, 'value is added using append method']

In [ ]:
#Tuple
tdata=(1,2,4, 'Hello', 45, 4.54, 487+2j)
print(tdata)
print(tdata[2:])

(1, 2, 4, 'Hello', 45, 4.54, (487+2j))
(4, 'Hello', 45, 4.54, (487+2j))

In [ ]:
#Dictionary
ddata = {1:"hello",2:2, 3:"Monkey"}
print(ddata)
print(ddata[2])
print(ddata[3])
ddata[1]="value is changed"
print(ddata)
ddata[4]="new value is added"
print(ddata)
del ddata[2]
print(ddata)

{1: 'hello', 2: 2, 3: 'Monkey'}
2
Monkey
{1: 'value is changed', 2: 2, 3: 'Monkey'}
{1: 'value is changed', 2: 2, 3: 'Monkey', 4: 'new value is added'}
{1: 'value is changed', 3: 'Monkey', 4: 'new value is added'}

In [ ]:
#Dynamic dictionary
dict={}
dict['FirstName']='Thomas'
dict['LastName']='Shelby'
dict['Gender']="Male"
print(dict)
print(dict['FirstName'])
print(dict['LastName'])

{'FirstName': 'Thomas', 'LastName': 'Shelby', 'Gender': 'Male'}
Thomas
Shelby

In [ ]:
#if condition
greeting="Good Morning"
if greeting=="Good Morning":
  print("Condition is true")

Condition is true

In [ ]:
#if else
greeting="Good Night"
if greeting=="Good Morning":
  print("Condition is true")
  print("Second line")
else:
  print("Condition is false")

print("If else block is executed")

Condition is false
If else block is executed

In [ ]:
# for loop
ldata=[78,78,"hello",4.5]
for i in ldata:
  print(i)

78
78
hello
4.5

In [ ]:
#print table of two
num=int(input("Enter Number"))
for i in range(num,(num*10)+1,num):
  print(i)

Enter Number75
75
150
225
300
375
450
525
600
675
750

In [ ]:
#Sum of first 5 natural number i.e. 1+2+3+4+5
num=0
for i in range(1,6):
  num+=i

print("Sum of first five natural number is ", num)

Sum of first five natural number is  15