<a href="https://colab.research.google.com/github/RyukThe/BBD-python-selenium-notebook/blob/master/Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Introduction to python
What exactly is programming?
Solving problem through code and turning idea into actionable instructions.

In [ ]:
print("Hello World!!")

Hello World!!

**Understanding the syntax of python**
##print() statement
* The print() function is used to display output.
print is function is python to print argument on console we have to pass the argument in parenthesis (). so it will appear on the consle.
* In a print statement if we use , to give multiple string argument it automatically add space.
i.e. print('hello','str')

* **By default print() function create the new line after printing something on console**
* we can change this default behavior of print statement for multiple string arguments in single print statment space to comma by using sep argument\parameter i.e. sep=","

print("str1", "str2", sep=",")

* similary, we can change the behavior of print() function after printing somthing on consle it move cursor to new line. Because by defautl it have end value is \n. we change this behavior using end parameter\argument like
print("hello", end='')

* shortcut to open terminal in VS code is ctrl + ~
to run the python file we have to use python filename.py

In [ ]:
print("Hey I am Tom")
print('Hellow world',"Tom","Shelby")
print("I am good")
print("How are you?")

# sep argument
print("I am good", "How are you?", sep=",")
'''by default value of sep parameter is space'''
# now it's add commam instade of
#space i.e. default to comma we can pass any seprator like / or any
# end argument
print("hello", end='')
'''by default value of end parameter is \n'''
# it won't move cursor to newline
print("world")

Hey I am Tom
Hellow world Tom Shelby
I am good
How are you?
I am good,How are you?
helloworld

###How python read the file?
Python read the file top to bottom line by line and scan for any erro if it found it will show the line where error is occur execute the code.
When syntax error occur then it won't execute any code it directly throw line number where syntax error is occour. show the error name. i.e. syntax error.


In python, indentation is very important because it way to know that programmer is in the block of code or not. So in python : represent the starting point of block and indentation show the point it is part of block.

# **Comment in Python**
* Comment are used to explain code and ignore by the python interpreter.
comment is way for programmers which instruct the Python interpreter that hey, ignore this line.
* single line comment with #
* Multiline comment are enclosed in ''' or """

In [ ]:
#Single line comment
"""Multiline comment"""
'''Multiline comment'''

#**Variable and Datatype in Python**
Variable is nothing but are container where data is store in memory location. So, by using the variable we can manipulate the data in program multiple time. Variable used fro information reusebility.
variable is created when we assgin the value to that variable. then this value is store in memory location.

variable_name=value_of_variable
One variable can store one information at a time.
in Variable we can store the integere, string, float types of values.

In [ ]:
age=13 #integer
name ="Tom" #string
cgpa= 4.55 #float

In python there are some rule which type of character variable can contain.
**Python is dynamically typed language** which means we don't have to specify which data type a perticular variable contains.
Python automatically looks at the value and figures out that type of value. like string, float or int.

### **Rules of defining a variable in python / naming a variable**
1. Variable name must start with a letter (a-z, A-Z) or an underscore(_)
2. They can contain letters, numbers, and underscores.
3. Variable names are case-sensitive (age and Age are different).
4. Avoid using python keywords.(e.g. if, for, while) as variable names.

23age=2 #this is invalid because variable cannont start with a number.

age=32 # is valid variable.
age$e=45# is invalid variable because variable can not contain the special symbol other than the _ (underscore).

In [ ]:
_age=45 #valid variable
__age__=45#valid variable
a_b_c=45#Valid variable

python supports several built-in data types:
**Inbuild Datatypes in python**
1. integers (int): whole numbers (e.g. 10,-5)
2. Floats (float): Decimal numbers (e.g. 3.14, -9.34)
3. Strings (str): Text data enclosed in quotes. (e.g. 'hello', "Hello")
4. Booleans (bool): Represents True or False.
5. Lists: Order mutable collections (e.g. [1,2,'str',0.43])
6. Tuples: Order immutable collections. (e.g. (1,34,"str",034.34)
7. Sets: Unorder collections of unique element (e.g. {1,2,3})
8. Dictionaries: key-value pairs (e.g. {{"key":"value", "name"="Alice", "age"=34}).

**type()** by using type function we can get to know what is type of variable is.

In [ ]:
age=18
print(f"age = {age} & type of age = ({type(age)})")
name="Tom"
print(f"name = {name} & type of name = {type(name)}")
cgpa=4.55
print(f"cgpa = {cgpa} & type of cgpa = {type(cgpa)}")
is_completed=True
print(f"is_completed = {is_completed} & type of is_completed = {type(is_completed)}")

age = 18 & type of age = (<class 'int'>)
name = Tom & type of name = <class 'str'>
cgpa = 4.55 & type of cgpa = <class 'float'>
is_completed = True & type of is_completed = <class 'bool'>

**Type Casting**
Typecasting is the process of converting one data type to another.
* python provides built-in functions for type casting.
1. int(): converts to integer.
2. float(): Converts to float.
3. str(): converts to string.
5. bool(): converts to bool.
Changing one data type information to another.
Some time we have to convert the string to integer. Like if we condition like if age>18 but if we got age in str like "18" the we have to convert it to int first.

In [ ]:
a=34
b="34"
d=457
print(a)
print(type(a))
print(b)
print(type(b))
c=int(b) #this will convert the str b to the integer and store in c. Here we dont
#change the type of be directly we change type of its and store in another vairalbe.
print(type(c))
e=str(d) #e is the string version of integer d.
print(type(e))

34
<class 'int'>
34
<class 'str'>
<class 'int'>
<class 'str'>

**Taking User Inputs**
* To take input from user we have to use built-in fuction called input() .
* this input() function take user input from the keyboard
* by Default, input() returns a string. You can convert it to other data types as needed.
*note: when we use this input() it will take input in form of string by default.  
*Note: while using input function we have to pass promt messege it's optional parameter but we must have to use it. So, user can get idea which data have to pass.

In [ ]:
a = input("Enter a Number") # this will show message(prompt) on console and take input from user
#store it in variable a.
print(a)
print(type(a))

Enter a Number57
57
<class 'str'>

In [ ]:
# #addition of two number
# a = input("Enter first Number")
# a=int(a) #convert a to int version of a
# print(a+3)

a=int(input("Enter first Number : "))
b=int(input("Enter second Number : "))
print(a+b)

Enter first Number : 5
Enter second Number : 10
15

# **Escape Sequences (start with (back slash)\\)**
* Escape sequences are used to include special characters in strings.
* common escape sequences.
* '\n' : Newline
* '\t' : tab
* '\ \' : Backslash
* '\"' : Double quote
* '\'' : Single quote

In [ ]:
print("1. Hey, How are you? \n I am good \\newline")
print("2. Hello, \"world\"")
print('3. hey it\'s me')

1. Hey, How are you?
 I am good \newline
2. Hello, "world"
3. hey it's me

# **Operators**
### **1. Arithmatic operators**
* Arithmatic operators are  used to perform arithmatic opeartion likes.
*  +(Addition), -(Subtraction), *(Multiplication), / (Division), % (Modulus), **(Expoenetiation), //(Floor Divison)
* % (modulus) operator give an reminder after division
* // (floor) this will perform floor divison opeation,  it retrun number without decimal point if number having.

In [ ]:
a = 34
b = 2
print('a + b = ', a + b)
print('a - b =', a - b)
print('a * b =', a * b)
print('a / b =', a / b)
print('a % b =', a % b)
print('a ** b =', a ** b)
print('a // b =', a // b)

a + b =  36
a - b = 32
a * b = 68
a / b = 17.0
a % b = 0
a ** b = 1156
a // b = 17

##2 Comparision Operator
* comparision Operator always return boolan values i.e. True or False.
* comparision operators are used to perform comparision between two values.
* == (Equal), !=(Not Equal), >(Greater Than), <(Less Than), >=(Greater Than or Equal), <=(Less Than or Equal)
* by using comaprision operators's / conditional operators we are ask question is it equal / or not? etc.

In [ ]:
print("a>b =", {a>b})
print("a<b =", {a<b})
print("a==b =", {a==b})#is a equal to b
print("a!=b =", {a!=b})#is a is not equal to b
print("a>=b =", {a>=b})
print("a<=b =", {a<=b})

a>b = {True}
a<b = {False}
a==b = {False}
a!=b = {True}
a>=b = {True}
a<=b = {False}

## 3. Logical Operators
* Logical Operators are used to perform operation on boolean values, Logical operators basically helps us operate two booleans
ex. if True and True is True etc.
* **and** **or** **not** are the logical operators
* In a case of **and** if both value is True then only it return True otherwise False.
* In a Case of **or** if Both Values are Flase then only it return Flase otherwies it return True
* In a case of **not** It retrun the opposite values If value is True then return False. If values if False then return True.

In [ ]:
#and
print('For and condition')
print(True and True)
print(True and False)
print(False and True)
print(False and False)
#or
print('For or Condition')
print(True or True)
print(True or False)
print(False or True)
print(False or False)
#not
print('For not Condition')
print(not True)
print(not False)

For and condition
True
False
False
False
For or Condition
True
True
True
False
For not Condition
False
True

## 4. Assignment Operators:
* Assignment Operators are used to assign value to variable.
* **=**, **+=**, **-=**, **/=**, **%=**, ****=**, **//=**
* += equal will add value to variable, similary, -= will subtract from variable, etc.

In [ ]:
a = 5
print(a)
a +=3
print(a)
a -=3
print(a)
a *=5
print(a)
a /=5
print(a)
a = 5
a %=5
print(a)
a = 5
a //=5
print(a)

5
8
5
25
5.0
0
1

## 5. Membership Operators
* **in**, **not in**

#6 Identity Operators
* **is**, **is not**

# Conditional/ Control Flow and Loops
* **What are Conditional Statement?**
* conditional statements allow you to execute code based on certain conditions.
* Python uses if, elif, and else for decision-making
## if Conditional Statements
* **if** conditional statement is used when we have to execute the some block of code if only condition is True.
*Sytnatx

In [ ]:
age =5
if age >= 18:
  print("You Can Drive")
  print("Thank You")
print("End of Program")

End of Program

### if-else statement
* if-else statement is used when we have to check the two condtion at same time then we can use if-else, if condtion is True then if block will get execute otherwise else block will get exectue

**Syntax**

In [ ]:
age =int(input("Enter Age: "))
if age>=18:
  print("You can Drive")
else:
  print(f"You can't Drive")
print("Program End here")

Enter Age: 78
You can Drive
Program End here

## if-elif-else ladder
* when we have more than two condition to check at same time then we can use if-elif-else lader, this lader work in  conjunction and in collaboration with each other.
In this python iterpreter will check condition line by line if 1st condition is false then it will check 2nd then then third line by line if all the condition not meet then at the end we can use else then else block will get exectued.
*syntax

In [ ]:
age =(int(input("Enter Your age: ")))
if (age>18):
  print("You can Drive")
elif (age==18):
  print("Lets schedule an Interview ")
elif (age==0):
  print("Your are just Born")
elif (age<0):
  print("Please enter valid age")
else:
  print("Sorry you cannot drive")

Enter Your age: 18
Lets schedule an Interview

##Match case in python (Python 3.10+)
**What is Match-Case?**
* Match-case is a new feature introduced in Python 3.10 for pattern matching.
* it simplifies complex conditional logic.
* this is like the switch statement in java.
* we can use default case as case _
* we can pass the case in () if it complex statement.

In [ ]:
'''
Syntax
match value:
  case pattern1:
    # Code to execute if value matches pattern 1
  case pattern2:
      # Code to execute if value matches pattern 2
  case _:
    # Default case (if no pattern match)

'''

a = int(input("Enter a number between 1 to 10: "))
match a:
  case 1:
    print("You won a Mobile")
  case 7:
    print("You won the Camera")
  case 5:
    print("You won the Cash prize of $100")
  case _:
    print("Better Luck Next Time")

Enter a number between 1 to 10: 25
Better Luck Next Time

##LOOPs in Python
* Loops are used to execute code repeated time.
* **What are for loops?**
* For loops are used to iterate over sequence(e.g. list, string, range).
* They execute a block of code repeatedly for each item in the sequence.
* when we know the exact number of itration then we can use for loop
* range() function goes from n to end-1.

In [ ]:
'''
Syntax:
for item in sequence:
  # Code to execute for each item

'''
for i in range(1, 6): # range function goes from 1 to (6-1) ie. 5 in this
  print(i)

1
2
3
4
5

## While loop in python
* While loops exectue a block of code as long as a condition is True.
* They are useful when the number of iteration is not known in advance.
* Working of while loop
* first it will check the condition if it true then it enter in body execute the block of code until the condition is true.

In [ ]:
"""
Syntax:
while condition:
  # Code to execute while condition is True

"""

* **Infinite Loops:**
* Be careful to avoid infinite loops by ensuring the condition eventually become false.

In [ ]:
num = int(input("Enter a number: "))
while num>0:
  print(num)
  num=num-1

print("While loop is executed ")

Enter a number: 3
3
2
1
While loop is executed

# Break, Continue, and Pass Statement
* **Break**
* The break statement is used to exit a loop prematurely.
* The break statement is used when we want to stop the execution of loop when certain condition meets. As soon as condition is meets it stop the execution of loop. loop will die at the moment.

In [ ]:
for i in range(1, 5):
  if(i==3):
    break # cancel the execution of this loop now.
  print(i)

1
2

* **Continue**
* **The continue statement skips the rest of the code in the current iteration and moves to the next iteration.**
* it won't allow to execute a code which is below the continue statement, for the current iteration it simple skip it and move controller to start to perform next iteration.

In [ ]:
for i in range(5):
  if i == 2:
    continue # continue the loop for the next iteration here itself
  print(i)

0
1
3
4

* **Pass Statement**
* The pass statement is a placeholder that does nothing. It is used to when syntax requires statement but no action is needed.
* if we have nothing to write for now but wan't to update / write something there then  we can  use pass. which do nothing.
* like Some time we declare the method but we don't complete them for now then we can use pass. so after some time we can update this method.

In [ ]:
for i in range(1, 5):
  if i==2:
    pass
  print(i)

1
2
3
4

* Control loop execution with break, continue, and pass.

#String
**Introduction**
* strings are one of the most fundamental data types in Python. A string is a sequence of characters enclosed withing either singl quotes('), dubole quotes("), for triple quotes (''' or """).
* **Creating String**
You can create strings in python using different type of quotes

## Single-quoted string

In [ ]:
a ='Hello, Python!'

### Double-quoted String

In [ ]:
b ="Hello, World!"

* **Note:** By using single quotes or double quotes if we try to create multiline string then it's not allowed in python.

## Triple-quoted string (useful for multi-line strings)
By using triple quotes we can write formated string also.

In [ ]:
c = '''This
 is multiline  String'''

d = """This is
multiline
 String"

## String Indexing in python
* Each character in a string has an index. And string indexes are starts with 0.
* In pythn we can fetch the characters using negative indexes also so we can get character for end / last like -1 means last character.
* to handel with negative index /  we can get positive index by using negative_index + length_of_string
I.e. name[-1+2]

In [ ]:
"""
T     o   m
0     1   2
-3    -2  -1
"""
name = "Tom"
print(name[0])
print(name[-1])

T
m

**Note:** If we try to get value which is greater than it's index then it throw error

In [ ]:
name = 'Tom'
print(name[4])

IndexError: string index out of range

## String Slicing
* You can extract parts of a string using slicing. we can get sub string
by using string_obj[start_index + end_index+1]

In [ ]:
text = "hello, Python!"
print(text[0:5]) #Hello
print(text[7:13]) #Python
print(text[7:]) #Replace the second empty number with length i.e. still end
print(text[:4]) # Replace the first empty number with 0. from start to 3 which
print(text[2:-3]) # from 2 to  [-3+13] =10 i.e. [2 : 10]

hello
Python
Python!
hell
llo, Pyth

* text = [:4] means Replace the first empty number with 0. which similar to [0:4]. So it will get character from start to 3 index.
* text = [1:] means Replace the second empty number with length. so it will get character from 1 to still end.

* slcing using three [0:10:n] means it will start with 0 and end on 9th index and skip n-1 character.

In [ ]:
name = "0123456789"
print(name[0:5:2]) # as we use skipping number 2 i.e. 2-1=1 so it will 1 character
#from selected string

024

## String Methods and functions
* Python provides several built-in mehtods to manipulate string.
* **Strings are immutable in nature** means we can't make any changes into original string value in memory. Whenever we try to make any changes then it will made in new object of string and update and make changes in that.
* We assign the new value to str_variable, we can use this String to create new string but we can't make changes in actual string after declare once.  
* When we use any string method then actual string value is never, this method create new string obj in memory.

In [ ]:
name = "Tom"
name[0]="R" #this is not possible in string

TypeError: 'str' object does not support item assignment

1. **leng(obj)**
* this method return the number of character in string i.e. length of string

In [ ]:
name = "Tom"
a = len(name)
print("Type of a is ", type(a))
print(a)

Type of a is  <class 'int'>
3

2. upper()
* This method will return the given string into upper string.
* **Note:** does not make any changes in atcual string it will create new string.

In [ ]:
print(name.upper())
print(name)

TOM
Tom

3. lower()
* This method will return the given string into lower case character.

In [ ]:
name = "TOM"
print(name.lower())

tom

4. capitalize()
* This method will convert only first letter of string into Upper case.

In [ ]:
name='''hello
kumar
don'''
print(name.capitalize())

Hello
kumar
don

5. title()
* this method will convert the first letter of each word to the upper case.

In [ ]:
name="bunny money home, honey"
print(name.title())

Bunny Money Home, Honey

6. strip()
* this method will remove white spaces and new line from start and end i.e left and right.

In [ ]:
name= "\n   Hello kumar   \n"
print(name.strip())

Hello kumar

7. lstrip()
* This method will remove the white spaces and new line from left only.

In [ ]:
name="\n   Hello world     \n"
print(name.lstrip())

Hello world

8. rstrip()
* This method will remove the withe spaces and new line from only right.

In [ ]:
name="\n    Hello World      \n"
print(name.rstrip())

    Hello World

9. find()
* This method will index number of character where character is occurs first.

In [ ]:
text = "Python is fun"
print(text.find('is'))

7

10. replace(value_to_replce, new_value)
* This method will replace the particular characters in given string with new character on all the occurences.

In [ ]:
text = "Python is fun, Java is fun"
print(text.replace('fun', 'awesome'))

Python is awesome, Java is awesome

11. split(charcter)
* This method will split the given string into list of string just we have to specify from which character we have to split. We have to pass the delimiter.

In [ ]:
text= "Apple, Mango, Banana"
print(text.split(','))

['Apple', ' Mango', ' Banana']

12. join(iterable)
* By using join we can convert/join the iterable like list into string.

In [ ]:
'''
Syntax
string.join(iterable)

'''
print(",".join(['Apple', 'Mango', 'Banana']))

Apple,Mango,Banana

## Checking String property
13. isalpha()
* This method will check that all the characters in givin string is alphabest or not. return bool values.
* If string containing any number or space of special character then it return false.

In [ ]:
text = "Hello"
print(text.isalpha())
text = "Hello123"
print(text.isalpha())

True
False

14. isdigi()
* This method will check that givn string is having only digit or not. return the bool values.

In [ ]:
text='12345'
print(text.isdigit())
text='12345abc'
print(text.isdigit())

True
False

15. isalnum()
* This method will check that given string contain  alphanumberic(alphabets, number and combination of both) values or not.
* This method will return false if given string contain value other than alphanumeric like space or any special character.

In [ ]:
text="abc"
print(text.isalnum())
text= "1245"
print(text.isalnum())
text= "1245abc"
print(text.isalnum())

False
True
True

16. isspace()
* This method will check that given string having only space character's  or not.

In [ ]:
text = "   "
print(text.isspace())
text = " Hello "
print(text.isspace())

True
False

## f-string / string formatting
* String formatting is a powerful feature in Python that allows you to insert variable and expression into strings in a structured way. Python provides multiple ways to format strings, including the older .format() method and the modern f-string.

1. Using .format() method
* The .format() method allows inserting values into placeholders {}. this is use before the 3.6 version of python

In [ ]:
print("{1} is learning {0}".format("Python", "Tom"))
print("{name} is  {age} years old".format(name="Tom", age=25))

Tom is learning Python
Tom is  25 years old

2. **f-string**
* Introduced in Python 3.6, f-strings are the most concise and readble way to format strings.
* we can, directly put variable in f-string.

In [ ]:
name= "Tom"
age= 25
print(f"{name} is {age} years old")

Tom is 25 years old

* Using Expressions in f-String
you can perform calulations directly inside f-string:

In [ ]:
x = 10
y = 20
print(f"The sum of {x} and {y} is {x + y}")

The sum of 10 and 20 is 30

Formatting Numbers

In [ ]:
pi = 3.14159265
print(f"Pi rounded to 2 decimal places : {pi:.2f}")

Pi rounded to 2 decimal places : 3.14

Padding and Alignment

In [ ]:
text = "Python"
print(f"{text:>10}")  # Right-aligned with 10 spaces
print(f"{text:<10}")  # Left-aligned with 10 spaces
print(f"{text:^10}")  # Center-aligned with 10 spaces

    Python
Python
  Python

17. ord()
* This method which return the ASCII value of character. We have to pass the character. this method will return the ASCII value in number.

In [ ]:
print(ord('A'))

65

18. chr()
* The method will return the character present on that perticular ASCII value. We have to pass the number then this method will return the character present on that number.

In [ ]:
print(chr(65))

A

## **Important Note**
* **Escape Sequences:** Use \n, \t, \', and \\ to handle special characters in strings.
* Raw Strings : Use r"string" to prevent sequence in interpretation.
* String Encoding & Decoding: Use .encode() and .decode() to work with different text encodings.
* String immutability: Strings in Python are immutable, meaning they cannot be change after creation.
* Performance Consideration: Using ''.join('list_of_strings) is more efficient than concatenation in loop.
## Summry
* .format() allows inserting values into placeholders.
* f-strings provide an intuitive and readable way to format strings.
* f-string support expression, calculations, and formatting options.
* Python provides various string methods for modification and analysis.
* Case conversion, trimming, finding, replacing, splitting and joinning are commonly used.
* Functions like len(), ord(), and chr() are useful for working with string properties.

#Functions and Modules
Functions helps to perform certain operation, it make code reusable and readable, maintainable.
1. Defining functions in Python
* functions help in resuability and modularity in python.

**Key Points:**
* Define using def keyword
* function name should be be meaningful and follow the same rules of naming variable.
* Use return to send a value back.

In [ ]:
def greet(name):
  return f"Hello, {name}!"
print(greet("Alice"))

Hello, Alice!

2. Function Arguments & Return Values
* Functions can take parameters and return values.

**Note**: If method is not returning anything then we get none.

**Types of Arguments:**
  1. Positional Arguments

In [8]:
def add(a,b): #a,b are paramters
  return a + b
result=add(5,3) #5,3 are the arguments.
print(result)

def sub(a,b):
  print(a-b)

result=sub(5,3)
print(result)

8
2
None

 2. Default Arguments
 * This are optional arguments and it's optional.
 * if we Assgin the value as n default argument, while calling a method if we pass the value for this default argument then then the default or previous value will get overide when we are calling otherwise it remain same.
 * we have to palce the default Arguments after the positional argumeent.

In [11]:
def greet(name="Guest"):
  return f"Hello, {name}!"
print(greet())

def add(a,b=5):
  return a+b
print(add(5))
print(add(5,10)) #here value of b is overide to 5 to 10
print(add(4))

Hello, Guest!
10
15
9

 3. Keyword Arguments
 * When we have to change the occurance / order then we have to use this keyword arguments, but arguments must match with parameter.

In [7]:
def student(name, age):
  print(f"Name: {name}, Age: {age}")
student(age=20, name="Alice") #keyword assgin the value to argument

Name: Alice, Age: 20

3. Lambda Functions
* Lambda functions are anonymous, inline(one line) functions.
* lambda function is declare using the lambda keyword.

**Syntax**
method_name= lambda paramter: code
* this method return the value

* lambda function is used to create one liner function. Or When we have to pass function to function the we can use lambda function.

In [19]:
square=lambda x: x*x
#methodname=lambda paramter: code
print(square(5))
sq=square(4)
print(sq)

#lambda function with two argument
add=lambda x,y: x+y
print(add(5,3))

25
16
8

4. Recursion in Python
A recursion is occur when a function calling itself to solve a problem.
* Whenver we have a formula of a function in the form of itself, we use resursion.

**Note:** While using the recursion
1. **Must have a base case to avoid infinte resurion.** If we don't use base case then loop will go into infinite loop.
* Used in alorithms like Fibonacci, Tree traversals.

In [24]:
#Factorial
def factorial(n):
  if n==1:
    return 1
  return n*factorial(n-1)
print(factorial(5))

120

Fibonacii series mean addition of previous two value we get the new number. i.e. new number is the addition of previous two number.

In [23]:
'''
fibonacii
0 1 1 2 3 5 8 13
fib (0)=0
fib(1)=1
fib(2)=fib(0)+fib(1)
fib(n) = fib(n-2) + fib(n-1)
'''
def fib(n):
  #Base case of recursion
  if(n==0 or n==1):
    return n
  return fib(n-2)+fib(n-1)
print(fib(5))

'''
When we pass 6 to the function then 1st it will check codition ie. n=6 i.e. condtion is false so it will
execute the formula we get fib(4)+fib(5). fib 4 is pass to the function and + fib(5)
remain same which resolve later. for now fib 4 it will check condition which flase again 4 is put in to
formula we get fib(2)+fib(3)
for fib (0) it will return 0 and for fib(1) it return 1.

fib (4) + fib (5)
fib (2) + fib (3) + fib(5) # fib(4) is break down to fib(2) + fib(3)
fib (0) + fib (1) + fib(3) + fib(5)
0 + 1 + fib(1) + fib(2) + fib(3) + fib(4)
0 + 1 + 1 + fib(0) + fib(1) + fib(1) + fib(2) + fib(4)
0 + 1 + 1 + 0 + 1 + 1 + fib (0) + fib(1) + fib(2) + fib(3)
0 + 1 + 1 + 0 + 1 + 1 + 0 + 1 + fib(0) + fib(1) + fib(3)
0 + 1 + 1 + 0 + 1 + 1 + 0 + 1 + 0 + 1 + fib(1) + fib(2)
0 + 1 + 1 + 0 + 1 + 1 + 0 + 1 + 0 + 1 + 1 + fib(0) + fib(1)
0 + 1 + 1 + 0 + 1 + 1 + 0 + 1 + 0 + 1 + 1 + 0 + 1
'''

5

5. Modules and Pip - Using External Libraries
**Importing Modules**
* Python provides bulit-in and third-party modules.

* Python have some inbuilt and third party libraries which help us to solve our problem by using code which is written by others. Just we have to import that modules and we can use in our program.
* By using **import** keyword we can improt code form module.

In [25]:
import math #math is built-in module in python which have many methods to solve meathematic problem
print(math.sqrt(16)) #math is name of module and sqrt() is method of that module.

4.0

## In python there are two types of modules
1. built-in modules
2. External modules
1. Buil-in modules
* The modules which is provided by python itself.
https://docs.python.org/3/py-modindex.html

2. External Modules
* External modules can be written by us or we can install external module written by other using pip install command.
**syntax**
pip install module_name

**Note:** if we import module then we have to use this module other python show the warning msg.
* we can create our own module. Just we have to create python file with .py extension. now we can import data member present inside this module whenever we needed.

In [ ]:
pip install request
# by using
r=request.get('https://www.google.com') #this get method will get html code of any webiste
print(r.text) # text is not method is a property.

* When we install module and if that module is depending on other module then all this depending modules are get install.

6. Function Scope and Lifetime
* In python, variable have scope (where they can be accessed) and lifetime(how long they exist). Vriables are created when a function is called and destroyed when it returns (method stop/ return by method.). Understanding scope helps avoid unitened errors and improves code organization.

* function keeps variable until it's return as soon it's return by method variable inside method will be clear or deleted from memory.
**Types Of Scope in Python**
1. Local Scope(inside a function) - Variables declared inside a function are accessible only within that function.
2. Global Scope (accessible everywhere) - variable declare outside any function can be used throughout the program.

In [30]:
def sum(a,b):
  c = a + b
  z=1 # this is local variabl inside the method this var will destroy when this
  # function returns
  return c # a, b and c are the locala variables

print(sum(4,5))

z= 8
print(z)
print(sum(5,z))

9
8
13

**Using the global keyword**
* To modify a global variable inside a function, use the global keyword and we can declear the gloabl variable inside non-globla scope.
1. we have to call gloabal keyword and global variable inside method then we
2. we can assign values

* like

In [36]:
def sum(a,b):
  global c
  c = a + b
  z=1
  return c
print(sum(4,5))
print(c)

def greet(n):
  global name
  name = n # this will refere to global name, not creat local variable
  return f"Hello, {name}!"


name="ram"
print(name)
print(greet("Alice"))
print(name)

9
9
ram
Hello, Alice!
Alice

**This allows functions to change global variables, but excessive use of gloabl is discourage as it can make dubugging harder.**

7. Docstrings - Writing Function Documentation
* Docstrings are used to document functions, classes, and modules. In python, they are written in triple qoutes. They are accessible using __doc__ attribute. Here's an example
* Docstring is writte just after declaring function i.e. just after the : i.e. starting
* Docstring added in python because some time we have to add information along with function like which parameter its accepting, type of variable is returning. When we hover over function this docstirng information will be seen. We can write multiline docstring.

In [37]:
def sum(a,b):
  '''This function return the sum of two numbers'''
  return a+b
print(sum.__doc__) #syntax to get doc string methodname.__doc__

This function return the sum of two numbers

In [39]:
def add(a,b):
  '''
  Returns the sum of two numbers.
  Parameters:
  a (int): The first number.
  b (int): The second number.
  Returns:
  int: The sum of the two numbers.
  '''
  return a+b
print(add.__doc__)

  Returns the sum of two numbers.
  Parameters:
  a (int): The first number.
  b (int): The second number.
  Returns:
  int: The sum of the two numbers.

**Summary**
* Functions help in reusability and modularity
* Functions can take arguments and return values.
* Lambda functions are short, inline functions.
* Recursion is a techinque where a fucntion calls itself.
* Modules help in organizing code usingg external libraries.
* Scope of lifetime of variable decide their accessibility.
* Docstring are used to document functions, classes and modules.